<sid-errors
    *ngIf="formControlItem.invalid && (alwaysShowErrors || formControlItem.dirty || formControlItem.touched)"
>
    <sid-error
        *ngIf="formControlItem.errors.required || formControlItem.errors.requiredWithout || formControlItem.errors.requiredWith || formControlItem.errors.requireLength"
    >
        {{ 'error.validation.required' | translate: { field: (requiredLabel | translate) } }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.minlength">
        {{ 'error.validation.min_length' | translate: { length: formControlItem.errors.minlength.requiredLength } }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.maxlength">
        {{ 'error.validation.max_length' | translate: { length: formControlItem.errors.maxlength.requiredLength } }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.email">
        {{ 'error.validation.email' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.min">
        {{ 'error.validation.min' | translate: { value: formControlItem.errors.min.min } }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.max">
        {{ 'error.validation.max' | translate: { value: formControlItem.errors.max.max } }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.pattern">
        {{ 'error.validation.pattern' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.iban">
        {{ 'error.validation.iban' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.requiredContent">
        {{ 'error.validation.required_content' | translate: { content: (formControlItem.errors.requiredContent | translate)} }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.atLeastOneRequired">
        {{ 'error.validation.at_least_one_required' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.dateFormat">
        {{ 'error.validation.date_format' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.openDaysRequired">
        {{ 'error.validation.open_days_required' | translate }}
    </sid-error>

    <sid-error *ngIf="formControlItem.errors.invalidDate">
        {{ 'error.validation.invalid_date' | translate }}
    </sid-error>
</sid-errors>
