$basic-color: #dadada;

$primary-color: #0054bc;
$secondary-color: #45a700;
$warning-color: #e40000;

$text-color: #fff;

$buttons: (
  primary: ($primary-color, $text-color),
  secondary: ($secondary-color, $text-color),
  warn: ($warning-color, $text-color),
  navbar: (#003270, $text-color),
);

:host {
  display: inline-block;
  min-width: 170px;
  margin: 0;
  padding: 13px 20px;
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: $font-family-medium;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  transition: border 200ms ease-out, color 200ms ease-out, background-color 200ms ease-out;

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:not([sid-button-raised]) {
    color: $palette-black;
    background-color: #fff;

    &:hover {
      color: $palette-black;
      background-color: #fafafa;
      text-decoration: none;
    }
  }

  &[sid-button-raised] {
    color: #fff;
    background-color: $basic-color;

    &:hover {
      background-color: darken($basic-color, 5%);
    }
  }

  &[sid-button-stroked] {
    border: 2px solid #dadada;
  }
}

@each $name, $colors in $buttons {
  $bg-color: nth($colors, 1);
  $fg-color: nth($colors, 2);

  :host[sid-button-#{$name}] {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

    &:hover {
      text-decoration: none;
    }
  }

  :host:not([sid-button-raised])[sid-button-#{$name}] {
    color: $bg-color;

    &:hover {
      background-color: lighten($bg-color, 60%);
    }

    &:disabled {
      cursor: default;
      color: #b2b2b2;
      background-color: #fff;
    }
  }

  :host[sid-button-raised][sid-button-#{$name}] {
    background-color: $bg-color;
    color: $fg-color;

    &:hover {
      background-color: darken($bg-color, 5%);
    }

    &:disabled {
      cursor: default;
      color: #b2b2b2;
      background-color: $basic-color;
    }
  }

  :host[sid-button-stroked][sid-button-#{$name}] {
    border: 2px solid $bg-color;

    &:disabled {
      border: 2px solid #dadada;
    }
  }
}

:host[sid-button-underlined] {
  text-decoration: underline;
}

:host[sid-button-small] {
  min-width: 0;
  font-size: 12px;
  padding-top: 11px;
  padding-bottom: 12px;
}

:host[sid-button-navbar] {
  min-width: 0;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}


