/* MATERIAL THEME
** ========================================================================== */
$md-primary: (
  50 : #e0eff8,
  100 : #b3d7ed,
  200 : #80bde2,
  300 : #4da3d6,
  400 : #268fcd,
  500 : #0054bc,
  600 : #0073be,
  700 : #0068b6,
  800 : #005eaf,
  900 : #004ba2,
  A100 : #cce0ff,
  A200 : #99c1ff,
  A400 : #66a2ff,
  A700 : #4d93ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #e9f8e0,
  100 : #c9efb3,
  200 : #a5e480,
  300 : #81d94d,
  400 : #66d026,
  500 : #4bc800,
  600 : #44c200,
  700 : #3bbb00,
  800 : #33b400,
  900 : #23a700,
  A100 : #d8ffd1,
  A200 : #acff9e,
  A400 : #80ff6b,
  A700 : #6aff52,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #ffe5e5,
  100 : #ffbebe,
  200 : #ff9393,
  300 : #ff6767,
  400 : #ff4747,
  500 : #e40000,
  600 : #ff2222,
  700 : #ff1c1c,
  800 : #ff1717,
  900 : #ff0d0d,
  A100 : #ffffff,
  A200 : #fff6f6,
  A400 : #ffc3c3,
  A700 : #ffaaaa,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@import '~@angular/material/theming';

$app-primary: mat-palette($md-primary);
$app-accent: mat-palette($md-secondary);
$app-warn: mat-palette($md-warn);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
