@mixin whiteSpaceFix($marginLeft: 0) {
  margin-left: -4px + $marginLeft;
}

@mixin bgCover() {
  background-size: 100% auto;
  background-size: cover;
}

@mixin easeTransition($elem) {
  transition: #{$elem} 200ms ease-out;
}

@mixin closeButton($color, $size, $linecolor, $lineheight, $linewidth) {
  position: relative;
  height: $size;
  width: $size;
  border-radius: 100%;
  background-color: $color;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $linecolor;
    height: $lineheight;
    width: $linewidth;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@mixin roundUserThumbnailStyles($size) {
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 100%;
  z-index: 1;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
  vertical-align: middle;
}

@mixin textShadow($color, $opacity: 1) {
  text-shadow: 1px 1px 3px rgba($color, $opacity);
}

@mixin boxShadow($color, $opacity: 1) {
  box-shadow: 1px 1px 3px rgba($color, $opacity);
}

@mixin sidebarWidth() {
  display: block;
  width: 100%;

  @media($min-width-sm) {
    display: inline-block;
    width: $container-width-sm * ($sidebar-width-sm / 100%);
    min-width: $container-width-sm * ($sidebar-width-sm / 100%);
  }

  @media($min-width-md) {
    width: $container-width-md * ($sidebar-width-md / 100%);
    min-width: $container-width-md * ($sidebar-width-md / 100%);
  }

  @media($min-width-lg) {
    width: $container-width-lg * ($sidebar-width-lg / 100%);
    min-width: $container-width-lg * ($sidebar-width-lg / 100%);
  }

  @media($min-width-xl) {
    width: $container-width-xl * ($sidebar-width-xl / 100%);
    min-width: $container-width-xl * ($sidebar-width-xl / 100%);
  }
}
