/* Stebby primary colors */
$palette-black: #000000;

/* Stebby secondary colors */
$palette-turkish-blue:  #446D7B;

/* Auth */
$palette-auth: #0081c7;
$palette-oauth: #a3ddff;
$palette-secondary-info: #66c6ff;

/* Grayscale */
$palette-white: #fff;
$palette-ghost-white: #f8f8f8;
$palette-isabelline: #efefef;
$palette-platinum: #e6e6e6;
$palette-gainsboro: #dbdbdb;
$palette-light-gray: #d5d5d5;
$palette-silver-chalice: #ababab;
$palette-spanish-gray: #919191;
$palette-dim-gray: #6c6c6c;
$palette-outer-space: #494949;

/* Blue */
$palette-bubbles: #e7f6ff;
$palette-ocean-boat-blue-lighter: #007ec8;
$palette-ocean-boat-blue: #007bc4;
$palette-ocean-boat-blue-darker: #0075bd;
$palette-sapphire-blue: #0367a3;
$palette-rich-electric-blue: #0090e6;
$palette-sea-blue: #005a8f;
$palette-dark-imperial-blue: #004975;
$palette-dark-imperial-blue-darker: #003d62;
$palette-dark-midnight-blue: #003b5e;
$palette-dark-cerulean: #004a77;

/* Green */
$palette-harlequin-green: #4bc800;
$palette-napier-green-lighter: #379300;
$palette-napier-green: #318001;
$palette-apple-green: #6fb600;
$palette-spring-bud: #97ed00;
$palette-verdun-green: #387100;

/* Yellow */
$palette-harvest-gold: #d8ad00;
$palette-ucla-gold: #ffae00;
$palette-vivid-yellow: #ffe400;
$palette-vivid-amber: #d09800;
$palette-bright-yellow: #f3ac26;

/* Red */
$palette-red: #ff2626;
$palette-rosso-corsa: #df0000;

/* Socials */
$palette-social-facebook: #2c497c;
$palette-social-google: #c63225;
$palette-social-linkedin: #0a698e;
