$font-family-regular: "Codec Pro News", Arial, sans-serif;

$font-family-bold: "Codec Pro Bold", Arial, sans-serif;
$font-family-medium: "Codec Pro News", Arial, sans-serif;
$font-family-light: "Codec Pro News", Arial, sans-serif;
$font-family-thin: "Codec Pro News", Arial, sans-serif;
