/* Site */
$sidebar-width-sm: 21%;
$sidebar-width-md: 21%;
$sidebar-width-lg: 21%;
$sidebar-width-xl: 21%;

/* POS sidebar */
$pos-sidebar-width: 350px;

/* ProfileHeader */
$profile-header-height: 50px;

/* Padding */
$padding-horizontal-sm: 5px;
$padding-horizontal-md: 10px;
$padding-horizontal-lg: 20px;

$container-padding: 15px;

$column-padding: 15px;

/* Content margins */
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 15px;
$margin-xl: 20px;

$block-margin-sm: 10px;
$block-margin-md: 20px;
$block-margin-lg: 40px;

// Breakpoints
$min-width-xs: "min-width: 480px";
$min-width-sm: "min-width: 768px";
$min-width-md: "min-width: 992px";
$min-width-lg: "min-width: 1200px";
$min-width-xl: "min-width: 1400px";

$max-width-xs: "max-width: 479px";
$max-width-sm: "max-width: 767px";
$max-width-md: "max-width: 991px";
$max-width-lg: "max-width: 1199px";
$max-width-xl: "max-width: 1399px";

$scrollbar-width: 20px;
/* these should be lower than corresponding breakpoint - paddings on both sides - scrollbar width */
$container-width-sm: 738px - $scrollbar-width;
$container-width-md: 962px - $scrollbar-width;
$container-width-lg: 1170px - $scrollbar-width;
$container-width-xl: 1370px - $scrollbar-width;
