<dialog class="modal fade" tabindex="-1" role="dialog" id="ldMainnavModal">
    <button type="button" class="close" data-dismiss="modal" [title]="'home.landing.menu.close' | translate">
        <span class="sr-only">{{ 'home.landing.menu.close' | translate }}</span>
    </button>

    <div class="modal-dialog modal-dialog--lg" role="document">
        <div class="modal-content d-flex align-items-center">
            <nav class="mainnav-mobile">
                <ul class="mainnav__list">
                    <li routerLinkActive="current-menu-item">
                        <a routerLink="/employer" data-dismiss="modal">
                            <span>
                                {{ 'home.landing.menu.employer' | translate }}
                            </span>
                        </a>
                    </li>

                    <li routerLinkActive="current-menu-item">
                        <a routerLink="/club" data-dismiss="modal">
                            <span>
                                {{ 'home.landing.menu.clubs' | translate }}
                            </span>
                        </a>
                    </li>

                    <li routerLinkActive="current-menu-item">
                        <a routerLink="/event" data-dismiss="modal">
                            <span>
                                {{ 'home.landing.menu.event_organizers' | translate }}
                            </span>
                        </a>
                    </li>

                    <li routerLinkActive="current-menu-item">
                        <a routerLink="/user" data-dismiss="modal">
                            <span>
                                {{ 'home.landing.menu.users' | translate }}
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="langnav__list d-flex justify-content-center flex-wrap">
                    <li *ngFor="let language of languages"
                        (click)="setLanguage(language)"
                    >
                        <a href="#" (click)="$event.preventDefault()">{{ language.default_name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</dialog>
