// Resets still needed
/deep/ {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

/deep/ .landing {
  @import "./scss/styles_screen";
}

// To override default styles we do this after
/deep/ {
  html.landing {
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .landing {
    .btn {
      white-space: normal;
    }
  }
}
