<form (ngSubmit)="formSubmit()" class="text-center" [@animateIn]>
    <h2 class="title">{{ 'onboarding.groups.user.step1.title' | translate }}</h2>

    <p class="description-text">{{ 'onboarding.groups.user.step1.description' | translate }}</p>

    <div class="description text-left">
        <div class="image-container">
            <img class="image" src="/assets/images/illustrations/onboard_man_who_does_business.svg">
        </div>

        <div class="info-container">
            <div class="info-box">
                <img src="/assets/images/illustrations/onboard_check.svg" class="info-image">

                <div class="infobox-text">
                    <h3 class="info-title">{{ 'onboarding.groups.user.step1.correct_profile_inf' | translate }}</h3>
                    <a class="link">{{ 'onboarding.groups.user.step1.edit_profile' | translate }}</a>
                </div>
            </div>

            <div class="info-box">
                <img src="/assets/images/illustrations/onboard_warn.svg" class="info-image">

                <div class="infobox-text">
                    <h3 class="info-title">{{ 'onboarding.groups.user.step1.require_pin' | translate }}</h3>
                    <a class="link">{{ 'onboarding.groups.user.step1.add_pin' | translate }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" sid-button-secondary sid-button-raised>{{ 'onboarding.groups.user.step1.submit' | translate }}</button>
    </div>
</form>
