@import "./scss/form-field.component.auth.scss";
@import "./scss/form-field.component.basic.scss";
@import "./scss/form-field.component.default.scss";
@import "./scss/form-field.component.huge.scss";
@import "./scss/form-field.component.onboarding.scss";
@import "./scss/form-field.component.search.scss";
@import "./scss/form-field.component.new-search.scss";
@import "./scss/form-field.component.stripped.scss";

@import "./scss/form-field.component.modifiers.scss";

label {
  position: relative;
}

/deep/ {
  input::-ms-clear {
    display: none;
  }

  textarea {
    overflow-x: hidden;

    &:not([rows]) {
      height: 4.4em;
    }
  }
}
