<label
    *ngIf="readonly || formControl"
    [class.disabled]="!readonly && formControl.disabled"
    [class.label-readonly]="readonly"
    [class.has-value]="!readonlyNoValue || !readonly && formControl.value"
    [class.has-error]="!readonly && formControl.invalid && (alwaysShowErrors || formControl.dirty || formControl.touched)"
    [class.focus]="inFocus"
>
    <span *ngIf="label" class="label-text">
        {{ label | translate }}

        <span *ngIf="tooltip"
              #tooltipRef
              class="tooltip sico sico-question"
              [title]="tooltip"
              (click)="$event.preventDefault(); toggleTooltip($event)"
        >
            <span class="tooltip-text" [class.active]="tooltipOpen" [ngClass]="tooltipPosition">
                {{ tooltip }}
            </span>
        </span>
    </span>

    <ng-template [ngIf]="!readonly">
        <div class="input-container"
             [class.has-prefix]="prefixClass"
             [class.has-suffix]="suffixClass"
        >
            <div *ngIf="prefixClass"
                 [class]="'prefix ' + prefixClass"
                 (click)="prefixClick()"
            ></div>

            <ng-content select="[sidInput], [sidTextarea]"></ng-content>

            <div *ngIf="suffixClass"
                 [class]="'suffix ' + suffixClass"
                 (click)="suffixClick()"
            ></div>

            <div
                *ngIf="!noMinMaxLabels &&
                    (
                        min !== null || max !== null ||
                        minLength > -1 || maxLength > -1
                    )
                "
                class="input-info"
            >
                <ng-template [ngIf]="min !== null || max !== null">
                    <ng-template [ngIf]="min !== null">
                        {{ 'shared.input.min' | translate: {min: min} }}
                    </ng-template>
                    <ng-template [ngIf]="min !== null && max !== null">
                        /
                    </ng-template>
                    <ng-template [ngIf]="max !== null">
                        {{ 'shared.input.max' | translate: {max: max} }}
                    </ng-template>
                </ng-template>

                <ng-template [ngIf]="(minLength > -1 || maxLength > -1)">
                    <ng-template [ngIf]="minLength === -1">
                        {{ formControl.value?.length || 0 }}/{{ maxLength }}
                    </ng-template>

                    <ng-template [ngIf]="minLength > -1">
                        {{ 'shared.input.min' | translate: {min: minLength} }}
                        <ng-template [ngIf]="maxLength > -1">
                            /
                            {{ 'shared.input.max' | translate: {max: maxLength} }}
                        </ng-template>
                    </ng-template>
                </ng-template>
            </div>
        </div>

        <div class="underline">
            <div class="underline-inner"></div>
        </div>

        <sid-form-control-errors
            [formControlItem]="formControl"
            [alwaysShowErrors]="alwaysShowErrors"
            [requiredLabel]="requiredLabel || label"
        ></sid-form-control-errors>

        <div class="typeahead js-prevent-typeahead-close"
             [class.hidden]="!(typeaheadData.length && typeaheadOpen)"
             (mouseenter)="mouseEnter()"
             (mouseleave)="mouseLeave()"
        >
            <span class="close"></span>
            <div class="typeahead-item" *ngFor="let item of typeaheadData" (click)="typeaheadItemSelect(item)">
                {{ fetchFromObject(item, typeaheadLabelKey) }}
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="readonly">
        <p class="readonly">
            <span class="prefix" *ngIf="prefix || suffixClass"></span>
            {{ value || placeholder }}

            <ng-content></ng-content>

            <span class="suffix" *ngIf="suffix || suffixClass"></span>
        </p>
    </ng-template>
</label>
