.cdk-overlay-container {
  z-index: 100000;
}

.mat-error {
  color: #db1a17;
}

mat-form-field {
  margin-bottom: 5px;
}

.mat-select-placeholder {
  color: #b2b2b2;
}

mat-form-field.mat-form-field {
  font-size: 15px;
  line-height: 1.3;
  color: $palette-black;
  font-family: $font-family-regular;
  input:read-only {
    color: rgba(0, 0, 0, 0.38);
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    display: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  &:not(.mat-form-field-disabled) .mat-icon {
    &:hover {
      color: darken(#b2b2b2, 10%);
    }
  }

  .mat-icon {
    color: #b2b2b2;

    &.valid {
      color: #45a700;
    }
  }

  &.mat-form-field-invalid .mat-form-field-label {
    color: #db1a17;
  }

  &:not(#campaignPriceInput) {
    &.mat-form-field-appearance-fill {
      .mat-form-field-flex {
        background-color: #fff;
      }
    }
  }

  &#campaignPriceInput {
    &.mat-form-field-appearance-fill {
      font-size: 18px;
      padding-right: 0;

      .mat-form-field-infix {
        padding: 5px 0 5px 0;
      }
    }
  }

  &.mat-form-field-appearance-fill {
    padding-right: 10px;

    .mat-select-arrow-wrapper {
      transform: none;
    }

    .mat-form-field-infix {
      border-top: 0;
      padding: 12px 0 12px 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      padding-top: 5px;
    }

    .mat-form-field-flex {
      border-radius: 20px;
      padding: 0 12px 0 12px;
    }
  }

  &.mat-form-field-appearance-fill,
  &.mat-form-field-appearance-standard {
    font-size: 13px;

    .mat-form-field-underline,
    .mat-form-field-underline::before,
    .mat-form-field-ripple {
      background-color: transparent;
    }
  }

  &.mat-form-field-appearance-standard {
    .mat-form-field-wrapper {
      padding-bottom: 0.8em;
    }

    .mat-form-field-suffix {
      top: 0.45em;

      .mat-icon {
        font-size: 160%;
        font-weight: 500;
      }
    }
  }

  .mat-form-field-label {
    color: mat-color($md-primary, 500);
    font-size: 18px;
    pointer-events: visible;

    .mat-icon {
      color: #dadada;
      font-size: 22px;
      vertical-align: middle;
    }
  }

  .mat-select {
    font-family: $font-family-regular;
  }

  .mat-select-arrow {
    border: 0;
    width: 10px;
    height: 10px;
    background: transparent url("/assets/fonts/sportid-icon/arrow.svg") no-repeat;
    transform: rotate(180deg);
  }
}

mat-option.mat-option {
  padding: 10px 20px 15px;

  .mat-option-text {
    font-size: 13px;
  }
}

mat-option.mat-option,
.mat-select-trigger mat-select-trigger {
  .select-country-image {
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

mat-pseudo-checkbox.mat-pseudo-checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #fff;

  &.mat-pseudo-checkbox-checked::after {
    top: 4.4px;
    left: 4px;
  }
}

.mat-select-panel mat-option.mat-option {
  height: 30px;
  padding: 15px 20px 15px;

  &.mat-selected:not(.mat-option-multiple) {
    background: none;
  }
}

.mat-select-panel mat-optgroup.mat-optgroup .mat-optgroup-label {
  color: $palette-black;
  font-size: 13px;
  font-family: $font-family-medium;
}

mat-option.mat-option .mat-option-text {
  font-family: $font-family-regular;
}

mat-form-field.mat-form-field-appearance-legacy {
  .mat-form-field-infix {
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    border-top: 0.9em solid transparent;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0.25em;

    .mat-hint {
      color: rgba(0, 0, 0, 0.30);

      &.error {
        color: #db1a17;
      }

      &.valid {
        color: #45a700;
      }

      &.warning {
        color: #F3AC26;
      }
    }
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #b2b2b2;
}

mat-slide-toggle.mat-slide-toggle {
  height: 100%;
  margin-bottom: 20px;

  &.no-margin {
    margin-bottom: 0;
  }

  &.in-table {
    .mat-slide-toggle-bar {
      width: 39px;
      height: 20px;
    }

    &.mat-primary.mat-checked {
      .mat-slide-toggle-thumb-container {
        transform: translate3d(19px, 0, 0);
      }
    }

    .mat-slide-toggle-thumb-container,
    .mat-slide-toggle-thumb {
      width: 20px;
      height: 20px;
    }
  }

  &:not(.mat-disabled).cdk-focused .mat-slide-toggle-persistent-ripple {
    opacity: 0;
  }

  &:not(.mat-checked) .mat-ripple-element {
    background: none;
  }

  .mat-slide-toggle-label {
    align-items: normal;
  }

  .mat-slide-toggle-content {
    white-space: normal;
  }

  .mat-slide-toggle-bar {
    width: 48px;
    height: 27px;
    border-radius: 14px;
    background-color: #dadada;
  }

  .mat-slide-toggle-thumb-container {
    top: 0;
    width: 27px;
    height: 27px;
  }

  &.mat-primary.mat-checked {
    .mat-slide-toggle-thumb-container {
      transform: translate3d(23px, 0, 0);
    }

    .mat-slide-toggle-bar {
      background-color: mat-color($md-primary, 500);
    }

    .mat-slide-toggle-thumb {
      background-color: #fafafa;
      border: 2px solid mat-color($md-primary, 500);
    }
  }

  .mat-slide-toggle-thumb {
    height: 27px;
    width: 27px;
    box-shadow: none;
    border: 2px solid $palette-light-gray;
  }
}

.mat-sort-header-arrow {
  color: #0054bc;
}

mat-checkbox {
  .mat-checkbox-layout {
    margin: 5px 0;
    white-space: normal;
  }

  .mat-checkbox-label {
    font-size: 15px;
    line-height: 1.3;
    color: $palette-black;
    font-family: $font-family-regular;

    .mat-icon {
      color: #dadada;
      font-size: 22px;
      height: 22px;
      width: 22px;
      vertical-align: middle;
    }
  }

  .mat-checkbox-inner-container {
    height: 20px;
    width: 20px;

    .mat-checkbox-frame {
      background-color: #fff;
      border: 1px solid #dadada;
    }
  }
}

mat-checkbox.round {
  .mat-checkbox-frame {
    border-radius: 50%;
  }

  .mat-checkbox-background {
    border-radius: 50%;
  }
}


mat-radio-button {
  &.mat-radio-button {
    font-family: $font-family-regular;

    .mat-radio-ripple {
      left: calc(50% - 19px);
      top: calc(50% - 19px);
    }
  }

  .mat-radio-inner-circle,
  .mat-radio-outer-circle {
    width: 22px;
    height: 22px;
  }

  .mat-radio-outer-circle {
    border-width: 1px;
    border-color: #dadada;
  }

  .mat-radio-label {
    white-space: normal;
  }

  .mat-radio-label-content {
    padding-left: 12px;
  }
}

.mat-datepicker-toggle {
  color: #0054bc;
}
