:host.onboarding {
  $input-padding-top: 7px;
  $input-padding-bottom: 5px;
  $input-line-height: 1.3;
  $input-font-size-readonly: 15px;

  $input-label-color: #0054bc;
  $input-label-font-size: 13px;

  $input-text-color: $palette-outer-space;
  $input-border-color: #b7b7b7;
  $input-text-font-size: 20px;

  $input-label-color-focus: darken($input-label-color, 5%);
  $input-border-color-focus: #0054BC;

  $input-label-color-disabled: $palette-turkish-blue;
  $input-text-color-disabled: lighten($input-text-color, 20%);
  $input-opacity-disabled: .7;

  $input-label-color-error: $palette-rosso-corsa;
  $input-text-color-error: $palette-rosso-corsa;

  $input-placeholder-color: $palette-turkish-blue;
  $input-placeholder-opacity: .7;

  $input-suffix-spacing: 20px;
  $input-suffix-color: $input-label-color;
  $input-suffix-font-size: $input-text-font-size;
  $input-suffix-horizontal-padding: 5px;

  $input-typeahead-background-color: $palette-white;
  $input-typeahead-border-color: $palette-turkish-blue;
  $input-typeahead-padding-vertical: 5px;
  $input-typeahead-padding-horizontal: 10px;
  $input-typeahead-font-size: 14px;
  $input-typeahead-line-height: 1.8;
  $input-typeahead-text-color: $input-text-color;

  $input-info-font-family: $font-family-regular;
  $input-info-color: $palette-turkish-blue;
  $input-info-font-size: 12px;

  label {
    display: block;
    margin-bottom: $block-margin-md;
    color: $input-text-color;
  }

  .label-text {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color .5s ease;
    color: $input-label-color;
    font-size: $input-label-font-size;
    line-height: $input-line-height;
    font-family: $font-family-bold;;
  }

  .input-container {
    position: relative;
  }

  /deep/ {
    input,
    textarea {
      display: block;
      width: 100%;
      margin: 0;
      border: 0 none;
      padding-top: $input-padding-top;
      padding-bottom: $input-padding-bottom;
      font-size: $input-text-font-size;
      color: $input-text-color;
      line-height: $input-line-height;
      background-color: transparent;
      font-family: $font-family-light;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &:-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &::-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &:-ms-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }

      &[type="text"] {

      }

      &[type="textarea"] {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  .has-suffix {
    /deep/ {
      input,
      textarea {
        padding-right: $input-suffix-spacing;
        text-overflow: ellipsis;
      }
    }
  }

  .readonly {
    display: block;
    margin: 0;
    padding-top: $input-padding-top;
    padding-bottom: $input-padding-bottom;
    font-size: $input-font-size-readonly;
    color: $input-text-color;
    line-height: $input-line-height;
    font-family: $font-family-regular;
    cursor: text;
  }

  .underline {
    position: relative;
    display: block;
    height: 2px;
    overflow: hidden;

    &:before {
      content: "";
      height: 1px;
      display: block;
      background-color: $input-border-color;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 100%;
      height: 1px;
      background-color: $input-border-color-focus;
      transform: translateX(0%);
      transition: transform .1s ease .2s;
    }
  }

  .underline-inner {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    transform-origin: center 0;
    transition: transform .4s ease, opacity 0s ease .3s;
    opacity: 0;
    background-color: $input-border-color-focus;
  }

  .suffix {
    color: $input-suffix-color;
    font-size: $input-suffix-font-size;
  }

  :not(.readonly) {
    .suffix {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding-right: $input-suffix-horizontal-padding;
      padding-left: $input-suffix-horizontal-padding;
      cursor: pointer;
      white-space: nowrap;

      &:before,
      &:after {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {

      }

      &:after {
        content: "";
        height: 100%;
      }
    }
  }

  /*  */
  .focus {
    .label-text {
      color: $input-label-color-focus;
      line-height: $input-line-height;
    }

    .underline {
      &:after {
        height: 1px;
        background-color: $input-border-color-focus;
        transform: translateX(100%);
        transition: transform .5s ease;
      }
    }

    .underline-inner {
      transform: scaleY(2);
      transition: transform .3s ease .2s, opacity 0s ease .2s;
      opacity: 1;
    }
  }

  /*  */
  .disabled {
    .label-text {
      color: $input-label-color-disabled;
    }

    .underline:before {
      background: $input-text-color-disabled;
      background: linear-gradient(to right, $input-text-color-disabled 0%, $input-text-color-disabled 33%, #fff 33%, #fff 100%);
      background-size: 3px 100%;
      background-repeat: repeat-x;
      opacity: $input-opacity-disabled;
    }

    /deep/ {
      input,
      textarea {
        color: $input-text-color-disabled;
        opacity: $input-opacity-disabled;
        cursor: not-allowed;
      }
    }
  }

  /*  */
  .has-error {
    .label-text {
      color: $input-label-color-error;
    }

    .underline-inner,
    .underline:before,
    .underline:after {
      background-color: $input-label-color-error;
    }
  }

  /*  */
  .label-readonly {
    margin-bottom: 10px;

    .label-text {
      cursor: default;
    }
  }

  /*  */
  label:not(.has-value) {
    .readonly {
      color: $input-placeholder-color;
    }
  }

  .typeahead {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: $input-typeahead-padding-vertical $input-typeahead-padding-horizontal;
    border: 1px solid $input-typeahead-border-color;
    z-index: 1;
    background-color: $input-typeahead-background-color;
    line-height: $input-typeahead-line-height;
  }

  .typeahead-item {
    font-size: $input-typeahead-font-size;
    color: $input-typeahead-text-color;
    cursor: pointer;
  }

  .input-info {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 3px;
    font-family: $input-info-font-family;
    color: $input-info-color;
    font-size: $input-info-font-size;
    line-height: 1;
  }
}
