:host.search {
  $input-vertical-padding: 15px;
  $input-horizontal-padding: 18px;
  $input-line-height: 1.3;
  $input-font-family: $font-family-light;

  $input-text-color: $palette-outer-space;
  $input-border-color: $palette-gainsboro;
  $input-text-font-size: 30px;

  $input-text-color-focus: darken($input-text-color, 30%);
  $input-border-color-focus: darken($input-border-color, 30%);

  $input-text-color-disabled: lighten($input-text-color, 20%);
  $input-opacity-disabled: .7;

  $input-placeholder-color: $palette-turkish-blue;
  $input-placeholder-opacity: .7;

  $input-suffix-spacing: 20px;
  $input-suffix-color: #0054BC;
  $input-suffix-font-size: $input-text-font-size;
  $input-suffix-horizontal-padding: 5px;

  label {

  }

  .label-text {
    display: none;
  }

  .input-container {
    position: relative;
  }

  /deep/ {
    input {
      display: block;
      width: 100%;
      margin: 0;
      border: 1px solid $input-border-color;
      padding: $input-vertical-padding $input-horizontal-padding;
      font-size: $input-text-font-size;
      color: $input-text-color;
      line-height: $input-line-height;
      background-color: #fff;
      font-family: $input-font-family;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &:-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &::-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }
      &:-ms-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity); }


      &[type="text"] {

      }

      &[type="textarea"] {
        min-width: 100%;
      }

      &.has-suffix {
        padding-right: $input-horizontal-padding + $input-suffix-spacing;
      }
    }
  }

  .underline {
    display: none;
  }

  .suffix {
    color: $input-suffix-color;
    font-size: $input-suffix-font-size;
  }

  :not(.readonly) {
    .suffix {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding-right: $input-suffix-horizontal-padding;
      padding-left: $input-suffix-horizontal-padding;
      cursor: pointer;
      white-space: nowrap;

      &:before,
      &:after {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {

      }

      &:after {
        content: "";
        height: 100%;
      }
    }
  }

  /*  */
  .disabled {
    /deep/ {
      input {
        color: $input-text-color-disabled;
        opacity: $input-opacity-disabled;
        background-color: #fff;
        cursor: not-allowed;
      }
    }
  }

  /*  */
  .label-readonly {
    position: absolute!important;
    left: 9999px!important;
    display: none!important;
  }
}
