:host.new-search {
  $input-vertical-padding: 19px;
  $input-horizontal-padding: 38px;
  $input-line-height: 1.3;

  $input-border-radius-size: 32px;

  $input-background-color: #e5f0fe;

  $input-text-color: $palette-black;
  $input-text-font-size: 20px;

  $input-text-color-focus: darken($input-text-color, 30%);

  $input-placeholder-color: #1153b9;
  $input-placeholder-opacity: .7;

  $input-suffix-spacing: 20px;
  $input-suffix-color: #1153b9;
  $input-suffix-font-size: 19px;
  $input-suffix-horizontal-padding: 28px;

  label {

  }

  .label-text {
    display: none;
  }

  .input-container {
    position: relative;
  }

  /deep/ {
    input {
      display: block;
      width: 100%;
      margin: 0;
      border: none;
      border-radius: $input-border-radius-size;
      padding: $input-vertical-padding $input-horizontal-padding;
      font-size: $input-text-font-size;
      color: $input-text-color;
      line-height: $input-line-height;
      background-color: $input-background-color;
      font-family: $font-family-light;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: rgba($input-placeholder-color, $input-placeholder-opacity);
      }
      &:-moz-placeholder {
        color: rgba($input-placeholder-color, $input-placeholder-opacity);
      }
      &::-moz-placeholder {
        color: rgba($input-placeholder-color, $input-placeholder-opacity);
      }
      &:-ms-input-placeholder {
        color: rgba($input-placeholder-color, $input-placeholder-opacity);
      }

      &[type="text"] {

      }

      &[type="textarea"] {
        min-width: 100%;
      }

      &.has-suffix {
        padding-right: $input-horizontal-padding + $input-suffix-spacing;
      }
    }
  }

  .underline {
    display: none;
  }

  .suffix {
    color: $input-suffix-color;
    font-size: $input-suffix-font-size;
  }

  :not(.readonly) {
    .suffix {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding-right: $input-suffix-horizontal-padding;
      padding-left: $input-suffix-horizontal-padding;
      cursor: pointer;
      white-space: nowrap;

      &:before,
      &:after {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {

      }

      &:after {
        content: "";
        height: 100%;
      }
    }
  }
}
