:host.stripped {
  $input-vertical-padding: 5px;
  $input-horizontal-padding: 0;
  $input-font-size: 14px;
  $input-line-height: 1.3;
  $input-font-family: $font-family-regular;

  $input-font-size-readonly: 13px;

  $input-label-color: $palette-outer-space;
  $input-label-font-size: 12px;

  $input-text-color: $palette-outer-space;
  $input-text-color-secondary: $palette-white;
  $input-text-font-size: 12px;

  $input-label-color-focus: darken($input-label-color, 5%);
  $input-text-color-focus: darken($input-text-color, 30%);

  $input-label-color-disabled: $palette-turkish-blue;
  $input-text-color-disabled: lighten($input-text-color, 20%);
  $input-opacity-disabled: .7;

  $input-placeholder-color: $palette-turkish-blue; /* correct */
  $input-placeholder-opacity: 1;

  $input-prefix-spacing: 25px;
  $input-prefix-color: #0054BC;
  $input-prefix-font-size: $input-text-font-size;
  $input-prefix-horizontal-padding: 5px;

  label {
    display: block;
  }


  .label-text {
    display: block;
    margin-bottom: 3px;
    cursor: pointer;
    transition: color .5s ease;
    font-size: $input-label-font-size;
    color: $input-label-color;
    font-family: $input-font-family;
  }

  /deep/ {
    input,
    textarea {
      display: block;
      width: 100%;
      margin: 0;
      border: 0 none;
      padding: $input-vertical-padding $input-horizontal-padding;
      font-size: $input-text-font-size;
      color: $input-text-color;
      line-height: $input-line-height;
      background-color: transparent;
      font-family: $input-font-family;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity);}
      &:-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity);}
      &::-moz-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity);}
      &:-ms-input-placeholder {color: rgba($input-placeholder-color, $input-placeholder-opacity);}

      &[type="text"] {

      }

      &[type="textarea"] {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  .has-prefix {
    /deep/ {
      input,
      textarea {
        padding-left: $input-horizontal-padding + $input-prefix-spacing;
      }
    }
  }

  .underline {
    display: none;
  }

  .prefix {
    color: $input-prefix-color;
    font-size: $input-prefix-font-size;
  }

  :not(.readonly) {
    .prefix {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-right: $input-prefix-horizontal-padding;
      padding-left: $input-prefix-horizontal-padding;
      cursor: pointer;
      white-space: nowrap;

      &:before,
      &:after {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {

      }

      &:after {
        content: "";
        height: 100%;
      }
    }
  }

  /*  */
  .focus {
    .label-text {
      color: $input-label-color-focus;
    }
  }

  /*  */
  .disabled {
    .label-text {
      color: $input-label-color-disabled;
    }

    /deep/ {
      input,
      textarea {
        color: $input-text-color-disabled;
        opacity: $input-opacity-disabled;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  /*  */
  .label-readonly {
    position: absolute!important;
    left: 9999px!important;
    display: none!important;
  }
}
