/* Limited */

:host {
  &.for-navbar {
    /deep/ {
      input,
      textarea {
        padding: 9px 20px;
        font-size: 13px;
        border-radius: 20px;
        font-family: $font-family-medium;
      }
    }

    .suffix {
      font-size: 18px;
      color: #0054bc;
    }

    :not(.readonly) {
      .suffix {
        padding-right: 13px;
        padding-left: 13px;
      }
    }
  }

  &.large {
    /deep/ {
      input,
      textarea {
        padding: 12px 15px;
        font-size: 18px;
      }
      .suffix {
        font-size: 18px;
      }
    }
  }

  &.extra-large {
    /deep/ {
      input,
      textarea {
        font-size: 24px;
      }
    }
  }

  &.no-spacing {
    label {
      margin-bottom: 0;
    }
  }

  &.no-border {
    /deep/ {
      input,
      textarea {
        border: 1px solid transparent;
      }
    }
  }
  &.text-center {
    .label-text {
      text-align: center;
    }

    /deep/ {
      input,
      textarea {
        text-align: center;
      }
    }

    .readonly {
      text-align: center;
    }
  }

  &.basic.mass-actions {
    .input-container {
      margin: 0 5px
    }

    /deep/ {
      input,
      textarea {
        padding: 3px 10px;
        color: $palette-sapphire-blue;
        border: 0 #0054BC;
      }
    }
  }
}
