<div class="container">
    <sid-onboarding-info-modal
        *ngIf="!requireUserData"
        [info]="groupModal[selectedGroup]"
    ></sid-onboarding-info-modal>
</div>

<sid-modal
    [modalOpen]="requireUserData"
    [denyClose]="denyModalClose || requireUserData"
    (modalOpenChange)="onModalOpenChange($event)"
    allowWide
    allowOverflow
>
    <sid-modal-content>
        <sid-onboarding-user-data-modal *ngIf="requireUserData" (onComplete)="onUserSettingsUpdate()"></sid-onboarding-user-data-modal>
    </sid-modal-content>
</sid-modal>
