$text-color: #0054bc;

:host {
  display: block;
  padding-top: 50px;
  padding-bottom: 90px;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $text-color;
  font-size: 35px;
  font-family: $font-family-light;
  line-height: 1.3;
  text-align: center;

  @media($min-width-sm) {
    font-size: 45px;
  }

  @media($min-width-md) {
    font-size: 50px;
  }

  @media($min-width-xl) {
    font-size: 55px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 40px;
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @media($min-width-sm) {
    font-size: 18px;
  }

  @media($min-width-md) {
    font-size: 20px;
  }

  @media($min-width-xl) {
    font-size: 25px;
  }
}

.onboarding-group-select-row {
  text-align: center;
  width: 100%;

  @media($min-width-md) {
    display: flex;
    justify-content: center;
  }
}

.onboarding-group-select-col {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 8px;

  @media($min-width-xs) {
    width: 50%;
  }

  @media($min-width-md) {
    width: 25%
  }

}

#onboarding-group-select-button-cancel {
  display: block;
  margin-top: 50px;
}

sid-group-box {
  transition: filter 200ms ease;

  /deep/ {
    .image {
      transition: transform 200ms ease;
    }
  }
}

sid-group-box:hover {
  /deep/ {
    .image {
      transform: scale(1.1);
    }
  }
}

.onboarding-group-select-row:hover {
  sid-group-box:not(:hover) {
    filter: grayscale(100%);
  }
}
