<div class="image" [style.background-image]="'url(' + group.imagePath + ')'"></div>

<h3 class="name">{{ group.name | translate }}</h3>
<p class="description">{{ group.description | translate }}</p>

<div class="cta">
    <button
        sid-button-primary
        sid-button-underlined
        class="cta-button-spacing"
        (click)="onSelect()"
    >
        {{ 'onboarding.groups.cta_what_else' | translate }}
    </button>
    <br>
    <button
        sid-button-primary
        sid-button-raised
        (click)="onSelect()"
    >
        {{ 'onboarding.groups.cta_select' | translate }}
    </button>
</div>
