@import "../../onboarding.variables.scss";

$title-color: #0054bc;
$description-color: $palette-black;

:host {
  position: relative;
  height: 100%;
  display: block;
  padding: 25px 10px 125px;
  text-align: center;
  margin-bottom: 15px;
}

.image {
  width: 65%;
  height: 0;
  margin: auto auto 15px;
  padding-bottom: 65%;
  background: no-repeat top center;
  @include bgCover();
}

.name {
  margin-top: 0;
  margin-bottom: 20px;
  color: $title-color;
  font-size: 25px;
  font-family: $font-family-regular;
  line-height: 1.3;

  @media($min-width-sm) {
    font-size: 25px;
  }

  @media($min-width-md) {
    font-size: 25px;
  }

  @media($min-width-xl) {
    font-size: 25px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 5px;
  color: $description-color;
  font-size: 16px;

  line-height: 1.5;
}

.cta {
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
}

.cta-button-spacing {
  margin-bottom: 15px;
}
