.button {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

/deep/ {
  sid-modal-content p {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 0;

    & + p {
      margin-top: 8px;
    }
  }
}
