<sid-modal [modalOpen]="modalOpen" (modalOpenChange)="modalOpenChange($event)" [denyClose]="modal.denyClose">
    <sid-modal-title *ngIf="modal.title">
        <h1>{{ modal.title | translate: modal.titleParams }}</h1>
    </sid-modal-title>

    <sid-modal-content *ngIf="modal.content">
        <p *ngFor="let paragraph of (modal.content | translate: modal.contentParams | sidParagraphize)">
            {{ paragraph }}
        </p>
    </sid-modal-content>

    <sid-modal-cta *ngIf="modal.buttons && modal.buttons.length">
        <button class="space-between" sid-button-small type="button" *ngFor="let button of modal.buttons" [ngClass]="button.classes" [sidDynamicAttributes]="button.attributes" (click)="button.callback()">
            {{ button.text | translate }}
        </button>
    </sid-modal-cta>
</sid-modal>
