:host {
  .sid-loading-bar {
    top: $navbar-height;
    position: fixed;
    width: 100%;
    z-index: 9998;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  mat-progress-bar {
    height: 3px;

    /deep/ {
      $bg-color: #8cbf2c;

      .mat-progress-bar-buffer {
        background-color: $bg-color;
      }

      .mat-progress-bar-fill {
        &.mat-progress-bar-primary::after {
          background-color: lighten($bg-color, 15%);
        }

        &.mat-progress-bar-secondary::after {
          background-color: darken($bg-color, 10%);
        }
      }
    }
  }
}
