<div class="tab-pane fade show active">
    <form
        class="form"
        (ngSubmit)="handleRegister()"
        [formGroup]="registerForm"
    >
        <div class="form-group">
            <label>{{ 'home.register.email' | translate }}</label>
            <input
                class="form-control"
                type="email"
                name="email"
                [formGroup]="registerForm"
                [formControlName]="'email'"
                [class.is-invalid]="registerForm.controls.email.invalid &&
                    (submitAttempted || registerForm.controls.email.dirty || registerForm.controls.email.touched)"
            >

            <span
                *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.errors.required || registerForm.controls.email.errors.requiredWithout || registerForm.controls.email.errors.requiredWith)"
                class="invalid-feedback"
            >
                {{ 'error.validation.required' | translate: { field: ('home.register.email' | translate) } }}
            </span>

            <span *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.email" class="invalid-feedback">
                {{ 'error.validation.email' | translate }}
            </span>
        </div>

        <div class="form-group">
            <label>{{ 'home.register.password' | translate }}</label>
            <input
                class="form-control"
                type="password"
                name="password"
                [formGroup]="registerForm"
                [formControlName]="'password'"
                [class.is-invalid]="registerForm.controls.password.invalid &&
                    (submitAttempted || registerForm.controls.password.dirty || registerForm.controls.password.touched)"
            >

            <span
                *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.errors.required || registerForm.controls.password.errors.requiredWithout || registerForm.controls.password.errors.requiredWith)"
                class="invalid-feedback"
            >
                {{ 'error.validation.required' | translate: { field: ('home.register.password' | translate) } }}
            </span>

            <span
                *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength"
                class="invalid-feedback"
            >
                {{ 'error.validation.min_length' | translate: { length: registerForm.controls.password.errors.minlength.requiredLength } }}
            </span>
        </div>

        <div class="form-group">
            <label class="input-checkbox input-checkbox--sm">
                <input
                    class="form-control"
                    type="checkbox"
                    name="acceptsTerms"
                    [formGroup]="registerForm"
                    [formControlName]="'acceptsTerms'"
                    [class.is-invalid]="registerForm.controls.acceptsTerms.invalid &&
                        (submitAttempted || registerForm.controls.acceptsTerms.dirty || registerForm.controls.acceptsTerms.touched)"
                >

                <span>
                    {{ 'home.register.terms_and_privacy.before' | translate }}

                    <a class="terms-link" target="_blank" rel="noopener" href="/terms" (click)="$event.stopPropagation()">
                        {{ 'home.register.terms_and_privacy.terms_link' | translate }}
                    </a>

                    {{ 'home.register.terms_and_privacy.middle' | translate }}

                    <a class="terms-link" target="_blank" rel="noopener" href="/privacy" (click)="$event.stopPropagation()">
                        {{ 'home.register.terms_and_privacy.privacy_link' | translate }}
                    </a>

                    {{ 'home.register.terms_and_privacy.after' | translate }}
                </span>

                <div
                    *ngIf="registerForm.controls.acceptsTerms.errors && (registerForm.controls.acceptsTerms.errors.required || registerForm.controls.acceptsTerms.errors.requiredWithout || registerForm.controls.acceptsTerms.errors.requiredWith)"
                    class="invalid-feedback"
                >
                    {{ 'error.validation.required' | translate: { field: ('home.register.concent_required_label' | translate) } }}
                </div>
            </label>
        </div>

        <div class="form-group">
            <button
                type="submit"
                class="btn btn-secondary btn-sm btn-block"
                [disabled]="!registerForm || registerForm.disabled || registerForm.pending"
            >
                {{ 'home.register.register_submit' | translate }}
            </button>
        </div>

        <div class="form-divider">
            {{ 'home.register.oauth_info' | translate }}
        </div>

        <div class="form-group">
            <ul class="list-socials justify-content-center mt-4">
                <li *ngIf="oauths.facebook">
                    <a
                        href="#"
                        class="icon icon-facebook"
                        data-ld-toggle="tooltip"
                        title="Facebook"
                    >
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li *ngIf="oauths.google">
                    <a
                        href="#"
                        class="icon icon-google"
                        data-ld-toggle="tooltip"
                        title="Google Plus"
                    >
                        <span class="sr-only">Google Plus</span>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
