$checkbox-line-height: 1.5;
$checkbox-size: 17px;
$checkbox-text-size: 14px;
$checkbox-text-secondary-size: 11px;

$checkbox-color: $palette-white;
$checkbox-border-color: #c2c2c2;
$checkbox-label-color: #383838;
$checkbox-icon-color: $checkbox-color;
$checkbox-label-secondary-color: $palette-turkish-blue;

$checkbox-color-checked: #0054bc;
$checkbox-border-color-checked: #0054bc;
$checkbox-label-color-checked: $checkbox-label-color;
$checkbox-icon-color-checked: $palette-white;

:host.search {
  label {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 12px;

    &.has-secondary-label {
      margin-bottom: 10px + ($checkbox-line-height * $checkbox-text-secondary-size);
    }

    &.no-spacing {
      margin-bottom: 0;

      &.has-secondary-label {
        margin-bottom: $checkbox-line-height * $checkbox-text-secondary-size;
      }
    }
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    margin-right: 3px;
    border: 1px solid $checkbox-border-color;
    border-radius: 2px;
    background-color: $checkbox-color;
    transition: background-color .2s ease, border .2s ease;
    text-align: center;
    white-space: nowrap;

    &:before {
      position: relative;
      top: 50%;
      display: inline-block;
      margin-top: -#{(ceil(floor($checkbox-size * .6) / 2))};
      font-size: floor($checkbox-size * .6);
      vertical-align: top;
      color: $checkbox-icon-color;
    }
  }

  .label-text {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-top: -3px;
    color: $checkbox-label-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-size;
    transition: color .2s ease;

    /deep/ sid-checkbox-label a {
      color: #0054bc;
    }
  }

  .label-secondary {
    position: absolute;
    top: 100%;
    right: 0;
    left: $checkbox-size + 5px; /* with whitespace fix */
    display: none;
    color: $checkbox-label-secondary-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-secondary-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .has-secondary-label .label-secondary {
    display: block;
  }

  .checked {
    label {

    }

    .checkbox {
      border: 1px solid $checkbox-border-color-checked;
      background-color: $checkbox-color-checked;

      &:before {
        color: $checkbox-icon-color-checked;
      }

    }

    .label-text {
      color: $checkbox-label-color-checked;
    }
  }

  &.inverted {
    .checked {
      .checkbox {
        border: 1px solid $checkbox-icon-color-checked;
        background-color: $checkbox-icon-color-checked;

        &:before {
          color: $checkbox-color-checked;
        }
      }
    }
  }
}

