$checkbox-line-height: 1.5;
$checkbox-size: 17px;
$checkbox-text-size: 20px;
$checkbox-text-secondary-size: 11px;

$checkbox-color: $palette-white;
$checkbox-border-color: $palette-gainsboro;
$checkbox-label-color: #383838;
$checkbox-icon-color: $checkbox-color;
$checkbox-label-secondary-color: $palette-turkish-blue;

$checkbox-color-checked: #0054bc;
$checkbox-border-color-checked: #1654b3;
$checkbox-label-color-checked: $checkbox-label-color;
$checkbox-icon-color-checked: $palette-white;

$checkbox-color-disabled: $checkbox-color;
$checkbox-color-checked-disabled: $palette-isabelline;
$checkbox-border-color-disabled: $palette-gainsboro;
$checkbox-border-color-checked-disabled: $checkbox-border-color-disabled;
$checkbox-label-color-disabled: $palette-gainsboro;
$checkbox-label-color-checked-disabled: $palette-gainsboro;
$checkbox-icon-color-disabled: $palette-white;
$checkbox-icon-color-checked-disabled: $palette-white;

:host.onboarding {
  label {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;

    &.has-secondary-label {
      margin-bottom: 10px + ($checkbox-line-height * $checkbox-text-secondary-size);
    }

    &.no-spacing {
      margin-bottom: 0;

      &.has-secondary-label {
        margin-bottom: $checkbox-line-height * $checkbox-text-secondary-size;
      }
    }
  }

  .checkbox {
    position: relative;
    display: inline-block;
    height: $checkbox-size;
    width: $checkbox-size;
    margin-right: 15px;
    border: 1px solid $checkbox-border-color;
    background-color: $checkbox-color;
    transition: background-color .2s ease, border .2s ease;
    text-align: center;
    white-space: nowrap;

    &:before {
      position: relative;
      top: 50%;
      display: inline-block;
      margin-top: -#{(ceil(floor($checkbox-size * .6) / 2))};
      font-size: floor($checkbox-size * .6);
      vertical-align: top;
      color: $checkbox-icon-color;
    }
  }

  .label-text {
    display: inline;
    font-family: $font-family-light;
    color: $checkbox-label-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-size;
    transition: color .2s ease;
  }

  .label-secondary {
    position: absolute;
    top: 100%;
    right: 0;
    left: $checkbox-size + 5px; /* with whitespace fix */
    display: none;
    font-family: $font-family-light;
    color: $checkbox-label-secondary-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-secondary-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .has-secondary-label .label-secondary {
    display: block;
  }

  .checked {
    label {

    }

    .checkbox {
      border: 1px solid $checkbox-border-color-checked;
      background-color: $checkbox-color-checked;

      &:before {
        color: $checkbox-icon-color-checked;
      }

    }

    .label-text {
      color: $checkbox-label-color-checked;
    }
  }

  &.inverted {
    .checked {
      .checkbox {
        border: 1px solid $checkbox-icon-color-checked;
        background-color: $checkbox-icon-color-checked;

        &:before {
          color: $checkbox-color-checked;
        }
      }
    }
  }

  .disabled {
    label {

    }

    .checkbox {
      border-color: $checkbox-border-color-disabled;
      background-color: $checkbox-color-disabled;

      &:before {
        color: $checkbox-icon-color-disabled;
      }
    }

    .label-text {
      color: $checkbox-label-color-disabled;
    }
  }

  .checked.disabled {
    label {

    }

    .checkbox {
      background-color: $checkbox-color-checked-disabled;
      border-color: $checkbox-border-color-checked-disabled;

      &:before {
        color: $checkbox-icon-color-checked-disabled;
      }
    }

    .label-text {
      color: $checkbox-label-color-checked-disabled;
    }
  }
}

