$checkbox-font-family: $font-family-regular;
$checkbox-line-height: 1.3;
$checkbox-size: 17px;
$checkbox-text-size: 14px;
$checkbox-text-secondary-size: 11px;

$checkbox-color: transparent;
$checkbox-border-color: $palette-white;
$checkbox-label-color: $palette-white;
$checkbox-icon-color: transparent;
$checkbox-label-secondary-color: $palette-white;

$checkbox-color-checked: transparent;
$checkbox-border-color-checked: $palette-white;
$checkbox-label-color-checked: $checkbox-label-color;
$checkbox-icon-color-checked: $palette-white;

$checkbox-text-color-error: $palette-ucla-gold;

:host.auth {
  label {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 15px;

    &.has-secondary-label {
      margin-bottom: 15px + ($checkbox-line-height * $checkbox-text-secondary-size);
    }

    &.no-spacing {
      margin-bottom: 0;

      &.has-secondary-label {
        margin-bottom: $checkbox-line-height * $checkbox-text-secondary-size;
      }
    }
  }

  .checkbox {
    position: relative;
    display: inline-block;
    height: $checkbox-size;
    width: $checkbox-size;
    margin-right: 5px;
    border: 1px solid $checkbox-border-color;
    background-color: $checkbox-color;
    transition: background-color .2s ease, border .2s ease;
    text-align: center;
    white-space: nowrap;

    &:before {
      position: relative;
      top: 50%;
      display: inline-block;
      margin-top: -#{(ceil(floor($checkbox-size * .6) / 2))};
      font-size: floor($checkbox-size * .6);
      vertical-align: top;
      color: $checkbox-icon-color;
    }
  }

  .label-text {
    display: inline;
    font-family: $checkbox-font-family;
    color: $checkbox-label-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-size;
    transition: color .2s ease;
  }

  .label-secondary {
    position: absolute;
    top: 100%;
    right: 0;
    left: $checkbox-size + 5px; /* with whitespace fix */
    display: none;
    font-family: $checkbox-font-family;
    color: $checkbox-label-secondary-color;
    line-height: $checkbox-line-height;
    font-size: $checkbox-text-secondary-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .has-secondary-label .label-secondary {
    display: block;
  }

  .checked {
    label {

    }

    .checkbox {
      border: 1px solid $checkbox-border-color-checked;
      background-color: $checkbox-color-checked;

      &:before {
        color: $checkbox-icon-color-checked;
      }

    }

    .label-text {
      color: $checkbox-label-color-checked;
    }
  }
}

