$checkbox-size: 14px;

:host {
  &.small {
    .checkbox {
      width: $checkbox-size;
      height: $checkbox-size;

      &:before {
        margin-top: -#{(ceil(floor($checkbox-size * .6) / 2))};
        font-size: floor($checkbox-size * .6);
      }
    }
  }

  &.vertical-align-top {
    .checkbox {
      vertical-align: top;
    }
  }

  &.vertical-align-middle {
    .checkbox {
      vertical-align: middle;
    }
  }

  &.vertical-align-bottom {
    .checkbox {
      vertical-align: bottom;
    }
  }

  &.no-spacing {
    label {
      margin-bottom: 0;
    }
  }

  &.wrap-ellipsis {
    label,
    .label-text,
    .label-secondary {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
