:host {
  display: inline-block;
  white-space: nowrap;
}

.step {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #dfdfdf;

  &:first-child {
    margin-left: 0;
  }

  &.selected {
    background-color: #0054bc;
  }
}
