.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #0054bc;
  font-family: $font-family-light;
  font-size: 25px;
  line-height: 1.3;

  @media ($min-width-sm) {
    font-size: 40px;
  }
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #0054bc;
  font-family: $font-family-light;
  font-size: 20px;
  line-height: 1.3;

  @media ($min-width-sm) {
    font-size: 25px;
  }
}

.description {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 20px;

  @media ($min-width-md) {
    flex-wrap: nowrap;
  }
}

.side-content {
  max-width: 245px;
  padding-right: 30px;
}

.image {
  display: block;
  width: 215px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.image-container {
  flex: 0 1 100%;
  max-width: 245px;

  @media ($min-width-md) {
    padding-right: 30px;
  }
}

.button-spacing {
  display: block;
  height: 1px;
  margin-bottom: 14px;
}

.description-title {
  margin-top: 0;
  margin-bottom: 5px;
  color: #45a700;
  font-family: $font-family-bold;;
  font-size: 16px;
  line-height: 1.3;

  @media ($min-width-sm) {
    font-size: 20px;
  }
}

.description-text {
  margin-top: 10px;
  margin-bottom: 40px;
  color: $palette-black;
  font-size: 16px;
  line-height: 1.5;
}

.info-box {
  display: flex;
  position: relative;
  margin-bottom: 25px;

  .link {
    font-family: $font-family-bold;;
    font-size: 14px;
  }
}

.info-box-text {
  display: flex;
  flex-direction: column;
}

.info-image {
  display: block;
  height: 35px;
  width: auto;
  margin-top: 8px;
  margin-right: 20px;

  @media ($min-width-sm) {
    margin-left: 20px;
  }
}

.info-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: $font-family-bold;;
  line-height: 1.3;
  color: $palette-black;

  @media ($min-width-sm) {
    font-size: 20px;
  }
}
