<router-outlet></router-outlet>

<sid-cookie-notice>
    <ng-container *ngIf="cookiesAllowed; else notAllowed">
        {{ 'global.cookie_notice' | translate }}
        <button class="button button-accept-secondary" (click)="onClose()">{{ 'global.close' | translate }}</button>
    </ng-container>

    <ng-template #notAllowed>
        {{ 'global.cookie_notice_not_allowed' | translate }}
    </ng-template>
</sid-cookie-notice>

<sid-modal-for-root></sid-modal-for-root>
