@import "./scss/select.component.default.scss";
@import "./scss/select.component.basic.scss";
@import "./scss/select.component.search-select.scss";
@import "./scss/select.component.stripped.scss";
@import "./scss/select.component.text.scss";
@import "./scss/select.component.navigation.scss";
@import "./scss/select.component.onboarding.scss";

@import "./scss/select.component.modifiers.scss";

label {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.select-container {
  position: relative;
}

.label-container {
  cursor: pointer;
}

.select {
  position: absolute;
  bottom: 100%;
  display: none;
  min-width: 100%;
  max-height: 8em; /* make sure this element font size is same as single option height */
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow-y: auto;
  transition: opacity 200ms ease;

  &.prepare-open {
    opacity: 0;
  }

  &.open-down {
    bottom: auto;
    top: 100%;
    margin-top: -1px;
  }

  &.visible {
    display: block;
  }

}

/deep/ {
  .select-item {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    transition: color 200ms ease, background 200ms ease;
  }
}
