<label
    [class.disabled]="disabled"
    [class.has-error]="formControl && formControl.invalid && (alwaysShowErrors || formControl.dirty || formControl.touched)"
>
    <span class="label-text" *ngIf="label">
        {{ label }}
    </span>

    <div #selectRef class="select-container" (click)="toggledropdown()">
        <div class="label-container">
            <div class="label-container-inner">
                <div class="label" [class.placeholder]="isPlaceholder" [innerHtml]="selectedLabel"></div>
            </div>
        </div>

        <div class="underline">
            <div class="underline-inner"></div>
        </div>

        <div
            #selectOptionsRef
            class="select"
            [class.visible]="dropdownVisible"
            [class.open-down]="openDown"
            [class.prepare-open]="prepareOpen"
        >
            <div class="hidden">
                <ng-content select="sid-option"></ng-content>
            </div>

            <div class="select-item" *ngFor="let option of options" (click)="option.cb()" [innerHTML]="option.label"></div>
        </div>
    </div>

    <sid-form-control-errors
        *ngIf="formControl"
        [formControlItem]="formControl"
        [alwaysShowErrors]="alwaysShowErrors"
        [requiredLabel]="label"
    ></sid-form-control-errors>
</label>

