:host {
  white-space: normal;
}

.modal-container {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10%;
  z-index: 10000;
  text-align: center;
  overflow: auto;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
    background-color: #d7d7d7;
  }
}

.modal-inner-container {
  position: absolute;
  top: 10%;
  right: 5%;
  bottom: 10%;
  left: 5%;
}

.modal-content-container {
  position: relative;
  display: inline-block;
}

.sid-modal {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  border-radius: 10px;
  padding: 30px 30px 30px 50px;
  background-color: $palette-white;
  box-shadow: 0 2px 5px 0 #b2b2b2;

  .modal-container:not(.allow-overflow) & {
    overflow-y: auto;
  }

  @media($min-width-xs) {
    min-width: 420px;
  }

  @media($min-width-sm) {
    min-width: 600px;
  }

  @media($min-width-md) {
    min-width: 680px;
    max-width: 1024px;

    .modal-container:not(.allow-wide) & {
      width: 680px;
    }
  }
}

.close-button {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  z-index: 3;

  &:hover {
    opacity: 1;
    transition: opacity .2s ease;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.modal-title {}

.sid-modal-content {
  font-size: 14px;
  line-height: 1.3;
}

.modal-cta-container {
  margin-top: 35px;
}
