<div
    *ngIf="modalOpen"
    class="modal-container"
    [@fade]
    (click)="handleModalClose()"
    [class.allow-wide]="allowWide"
    [class.allow-overflow]="allowOverflow"
>
    <div class="modal-inner-container">
        <div class="modal-content-container">
            <div class="sid-modal" (click)="denyBubble($event)">
                <div *ngIf="!denyClose" class="close-button" (click)="closeModal()"></div>
                <h3 class="modal-title" [class.hidden]="!modalTitleHasContent">
                    <ng-content select="sid-modal-title"></ng-content>
                </h3>

                <div class="sid-modal-content" [class.hidden]="!modalContentHasContent">
                    <ng-content select="sid-modal-content"></ng-content>
                </div>

                <div class="modal-cta-container" [class.hidden]="!modalCtaHasContent">
                    <ng-content select="sid-modal-cta"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
