<form (ngSubmit)="formSubmit()" [formGroup]="form" [@animateIn]>
    <h2 class="title">{{ 'onboarding.groups.user.base_info_modal.title' | translate }}</h2>

    <div class="description text-left">
        <div class="image-container">
            <img class="image" src="/assets/images/illustrations/onboard_runner.svg">
        </div>

        <div class="form-container">
            <p class="description-text description-text-offset">{{ 'onboarding.groups.user.base_info_modal.description' | translate }}</p>

            <div class="row">
                <div class="grid-sm-6">
                    <mat-form-field class="full-width">
                        <mat-label>{{ 'onboarding.groups.user.base_info_modal.location_label' | translate }}</mat-label>

                        <mat-select
                            [value]="form.get('countryAbbr').value"
                            [formControlName]="'countryAbbr'"
                        >
                            <mat-option *ngFor="let option of countries" [value]="option">
                                {{ 'global.country_abbreviation.' + option | lowercase | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row form-row-spacing">
                <div class="grid-sm-6">
                    <mat-form-field class="full-width">
                        <mat-label>
                            {{ 'onboarding.groups.user.base_info_modal.first_name_label' | translate }}
                        </mat-label>

                        <input
                            matInput
                            type="text"
                            [placeholder]="'onboarding.groups.user.base_info_modal.first_name_placeholder' | translate"
                            [formControlName]="'firstName'"
                        >

                        <mat-error *ngIf="form.get('firstName').hasError('required')">
                            {{ 'error.validation.required' | translate: {field: ('onboarding.groups.user.base_info_modal.first_name_label' | translate)} }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="grid-sm-6">
                    <mat-form-field class="full-width">
                        <mat-label>
                            {{ 'onboarding.groups.user.base_info_modal.last_name_label' | translate }}
                        </mat-label>

                        <input
                            matInput
                            type="text"
                            [placeholder]="'onboarding.groups.user.base_info_modal.last_name_placeholder' | translate"
                            [formControlName]="'lastName'"
                        >

                        <mat-error *ngIf="form.get('lastName').hasError('required')">
                            {{ 'error.validation.required' | translate: {field: ('onboarding.groups.user.base_info_modal.last_name_label' | translate)} }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="grid-sm-6">
                    <mat-form-field class="full-width">
                        <mat-label>
                            {{ 'onboarding.groups.user.base_info_modal.email_label' | translate }}
                        </mat-label>

                        <input
                            matInput
                            type="email"
                            [placeholder]="'onboarding.groups.user.base_info_modal.email_placeholder' | translate"
                            [formControlName]="'email'"
                        >

                        <mat-error *ngIf="form.get('email').hasError('required')">
                            {{ 'error.validation.required' | translate: {field: ('onboarding.groups.user.base_info_modal.email_label' | translate)} }}
                        </mat-error>
                    </mat-form-field>

                    <sid-notice notice="onboarding.groups.user.base_info_modal.email_notice"></sid-notice>
                </div>

                <div class="grid-sm-6">
                    <mat-form-field class="full-width">
                        <mat-label>
                            {{ 'onboarding.groups.user.base_info_modal.birth_date_label' | translate }}
                        </mat-label>

                        <input
                            matInput
                            [max]="maxAllowedBirthYear"
                            [min]="minAllowedBirthYear"
                            [matDatepicker]="birthDatePicker"
                            [formControl]="birthDate"
                            name="birthDate"
                        >

                        <mat-datepicker-toggle matSuffix [for]="birthDatePicker">
                            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>

                        <mat-datepicker #birthDatePicker startView="multi-year"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="grid-sm-6">
                    <mat-radio-group [formControlName]="'gender'">
                        <mat-radio-button [value]="userProfileGender.Female" color="primary" class="radio-button">
                            {{ 'global.genders.female' | translate }}
                        </mat-radio-button>

                        <mat-radio-button [value]="userProfileGender.Male" color="primary" class="radio-button">
                            {{ 'global.genders.male' | translate }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="grid-sm-12">
                    <div class="landing form-group">
                        <label class="input-checkbox input-checkbox--sm">
                            <input
                                class="landing form-control"
                                type="checkbox"
                                name="acceptsDirectMarketing"
                                [formControlName]="'acceptsDirectMarketing'"
                            >
                            <span>
                                {{ 'home.register.accepts_direct_marketing_label' | translate}}
                            </span>
                        </label>
                    </div>
                </div>

                <div class="grid-sm-12">
                    <sid-errors [errors]="errors"></sid-errors>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" sid-button-secondary sid-button-raised>{{ 'onboarding.groups.user.base_info_modal.submit' | translate }}</button>
    </div>
</form>
