.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #0054bc;
  font-family: $font-family-light;
  font-size: 40px;
  line-height: 1.3;
}

.description {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media ($min-width-md) {
    flex-wrap: nowrap;
  }
}

.image {
  display: block;
  width: 215px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.image-container {
  flex: 0 1 100%;
  max-width: 245px;
  padding-right: 30px;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 15px;
  color: $palette-black;
  font-size: 16px;
  line-height: 1.5;
}

.description-text-offset {
  margin-bottom: 50px;
}

.form-row-spacing {
  margin-bottom: 110px;
}

.radio-space-right {
  margin-right: 20px;
}

/deep/ .landing {
  @import "./src/app/landing/scss/styles_screen";
}

.input-checkbox--sm > span {
  padding-top: .4294rem;
}
