:host {
  display: block;
  color: $palette-white;
  font-family: $font-family-light;
}

.cookie-notice-footer {
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #0054BC;
  padding: 15px 5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/deep/
.landing button {
  &.button-accept-secondary {
    $button-accept-secondary-text-color: $palette-white;
    $button-accept-secondary-border-color: $palette-harlequin-green;
    $button-accept-secondary-background-color: $palette-harlequin-green;
    color: $button-accept-secondary-text-color;
    background-color: $button-accept-secondary-background-color;
    border: 1px solid $button-accept-secondary-border-color;

    &:focus,
    &:hover {
      color: $button-accept-secondary-text-color;
      background-color: darken($button-accept-secondary-background-color, 5%);
      border-color: darken($button-accept-secondary-border-color, 5%);
    }
  }

  &.button {
    padding: 9px 9px;
    font-size: 12px;
    font-family: $font-family-regular;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    transition: border 200ms ease-out, color 200ms ease-out, background-color 200ms ease-out;
  }
}
