$indicator-size: 20px;
$host-padding: 8px;

:host {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: $indicator-size / 2 + $host-padding;
  padding: $host-padding ($host-padding + 5) $host-padding $host-padding;
  background-color: #fbfbfb;
  color: #969696;
  cursor: pointer;
  font-size: 13px;
  line-height: $indicator-size;
  font-family: $font-family-bold;;
  transition: color 200ms ease, background-color 200ms ease;
}

.select-indicator {
  position: relative;
  display: inline-block;
  height: $indicator-size;
  width: $indicator-size;
  border: 1px solid #d7d7d7;
  font-size: $indicator-size;
  margin-right: 5px;
  border-radius: 50%;
  background-color: $palette-white;
  vertical-align: middle;
  transition: background-color 200ms ease;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;
    color: $palette-white;
  }
}

:host.selected {
  background-color: #eeeeee;
  color: #383838;

  .select-indicator {
    background-color: #45a700;
  }
}
