$select-vertical-padding: 4px;
$select-horizontal-padding: 15px;
$select-font-size: 14px;
$select-line-height: 1.3;
$select-item-total-height: round($select-font-size * $select-line-height) + ($select-vertical-padding * 2);

$select-color: $palette-white;
$select-text-color: #0054bc;
$select-dropdown-text-color: #0054bc;
$select-dropdown-border-color: $palette-platinum;

$select-triangle-color: $select-text-color;
$select-triangle-size: 8px;
$select-triangle-width: 2px;
$select-triangle-offset: 10px;

$select-item-hover-color: $palette-white;
$select-item-hover-background: #0054bc;

:host.search-select {
  margin-left: -#{$select-horizontal-padding / 2};

  label {
    display: inline-block;
  }

  .label-text {
    display: none;
  }

  .select-container {

  }

  .label {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border: 0 none;
    padding: 0 ($select-triangle-size + ($select-triangle-offset * 2)) 0 $select-horizontal-padding;
    font-size: $select-font-size;
    color: $select-text-color;
    line-height: $select-line-height;
    background-color: transparent;
    font-family: $font-family-medium;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: $select-triangle-offset;
      display: block;
      width: $select-triangle-size;
      height: $select-triangle-size;
      margin-top: -1px;
      border-right: $select-triangle-width solid $select-triangle-color;
      border-bottom: $select-triangle-width solid $select-triangle-color;
      border-radius: 1px;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .underline {
    display: none;
  }

  .select {
    margin-top: 8px;
    font-size: $select-item-total-height;
    background-color: $select-color;
    border: 1px solid $select-dropdown-border-color;
  }

  /deep/ {
    .select-item {
      padding: $select-vertical-padding $select-horizontal-padding;
      color: $select-dropdown-text-color;
      line-height: $select-line-height;
      font-size: $select-font-size;
      font-family: $font-family-regular;

      @media ($max-width-md) {
        white-space: normal;
      }

      &.active {
        background-color: darken($select-background-color, 10%);
      }

      &:hover {
        color: $select-item-hover-color;
        background-color: $select-item-hover-background;
      }
    }
  }
}

