:host.large {
  .label-container {
    height: 36px;
    line-height: 36px;
    padding: 0 15px 0 10px;
  }
}

:host.static-label {
  .label {
    position: static;
  }
}

:host.text.mass-actions {
  .label {
    $mass-actions-label-color: #0054BC;
    color: $mass-actions-label-color;

    &:after {
      border-color: $mass-actions-label-color;
    }
  }
}

