$select-vertical-padding: 7px;
$select-horizontal-padding: 10px;
$select-font-size: 12px;
$select-line-height: 1.3;
$select-font-family: $font-family-regular;
$select-background-color: $palette-white;
$select-item-total-height: round($select-font-size * $select-line-height) + ($select-vertical-padding * 2);

$select-text-color: $palette-outer-space;
$select-border-color: $palette-gainsboro;
$select-dropdown-border-color: $select-border-color;

$select-triangle-color: $select-text-color;
$select-triangle-size: 5px;
$select-triangle-offset: $select-vertical-padding + 5px;

$select-text-color-disabled: lighten($select-text-color, 20%);
$select-opacity-disabled: .7;

$select-label-color-error: $palette-rosso-corsa;
$select-text-color-error: $palette-rosso-corsa;

$select-placeholder-color: $palette-turkish-blue;
$select-placeholder-opacity: .7;

$select-item-hover-color: $palette-white;
$select-item-hover-background: #0054BC;

:host.basic {
  label {
    position: relative;
  }

  .label-text {
    display: none;
  }


  .select-container {

  }

  .label-container {
    display: block;
    height: floor($select-vertical-padding * 2 + $select-line-height * $select-font-size + 2 /* for border */);
    width: 100%;
    padding: {
      top: $select-vertical-padding;
      right: ($select-triangle-size + ($select-triangle-offset * 2));
      bottom: $select-vertical-padding;
      left: $select-horizontal-padding;
    }
    margin: 0;
    border: 1px solid $select-border-color;
    background-color: $palette-white;
    line-height: $select-line-height;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: $select-triangle-offset;
      display: block;
      width: 0;
      height: 0;
      border-left: $select-triangle-size solid transparent;
      border-right: $select-triangle-size solid transparent;
      border-top: $select-triangle-size solid $select-triangle-color;
      transform: translateY(-50%);
    }
  }

  .label-container-inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
  }

  .label {
    position: absolute;
    width: 100%;
    font-size: $select-font-size;
    color: $select-text-color;
    font-family: $select-font-family;
    overflow: hidden;
    text-overflow: ellipsis;

    &.placeholder {
      color: $select-placeholder-color;
      opacity: $select-placeholder-opacity;
    }
  }

  .underline {
    display: none;
  }

  .select {
    font-size: $select-item-total-height;
    background-color: $select-background-color;
    border: 1px solid $select-dropdown-border-color;
  }

  /*  */
  .has-error {
    .label-container {
      border-color: $select-label-color-error;
    }
  }

  /deep/ {
    .select-item {
      padding: $select-vertical-padding $select-horizontal-padding;
      color: $select-text-color;
      line-height: $select-line-height;
      font-size: $select-font-size;
      background-color: #fff;
      font-family: $select-font-family;

      &.active {
        background-color: darken($select-background-color, 10%);
      }

      &:hover {
        color: $select-item-hover-color;
        background-color: $select-item-hover-background;
      }
    }
  }
}
