$select-vertical-padding: 5px;
$select-horizontal-padding: 10px;
$select-font-size: 12px;
$select-line-height: 1.3;
$select-font-family: $font-family-regular;
$select-item-total-height: round($select-font-size * $select-line-height) + ($select-vertical-padding * 2);

$select-text-color: #0054BC;
$select-border-color: $palette-gainsboro;
$select-dropdown-border-color: $select-border-color;

$select-triangle-color: $select-text-color;
$select-triangle-size: 4px;
$select-triangle-offset: 10px;

$select-text-color-disabled: lighten($select-text-color, 20%);
$select-opacity-disabled: .7;

$select-placeholder-color: $palette-turkish-blue;
$select-placeholder-opacity: .7;

:host.stripped {
  label {

  }

  .label-text {
    display: block;
    margin-bottom: 3px;
    cursor: pointer;
    transition: color .5s ease;
    font-style: $select-font-size;
    line-height: $select-line-height;
    font-family: $select-font-family;
  }


  .select-container {

  }

  .label {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border: 0 none;
    padding: 0 ($select-triangle-size + ($select-triangle-offset * 2)) 0 $select-horizontal-padding;
    font-size: $select-font-size;
    color: $select-text-color;
    line-height: $select-line-height;
    background-color: transparent;
    text-transform: uppercase;
    font-family: $select-font-family;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: $select-triangle-offset;
      display: block;
      width: 0;
      height: 0;
      border-left: $select-triangle-size solid transparent;
      border-right: $select-triangle-size solid transparent;
      border-top: $select-triangle-size solid $select-triangle-color;
      transform: translateY(-50%);
    }
  }

  .underline {
    display: none;
  }

  .select {
    font-size: $select-item-total-height;
    border: 1px solid $select-dropdown-border-color;
  }

  /deep/ {
    .select-item {
      padding: $select-vertical-padding $select-horizontal-padding;
      color: $select-text-color;
      line-height: $select-line-height;
      font-size: $select-font-size;
      background-color: #fff;
      font-family: $select-font-family;
    }
  }
}

