$select-label-padding-top: 7px;
$select-label-padding-bottom: 5px;
$select-vertical-padding: 7px;
$select-horizontal-padding: 7px;
$select-font-size: 20px;
$select-line-height: 1.3;

$select-background-color: $palette-white;
$select-item-total-height: round($select-font-size * $select-line-height) + ($select-vertical-padding * 2);

$select-label-color: #0054bc;
$select-label-font-size: 13px;

$select-text-color: $palette-outer-space;
$select-border-color: #b7b7b7;
$select-dropdown-border-color: $palette-gainsboro;

$select-label-color-focus: darken($select-label-color, 5%);
$select-text-color-focus: darken($select-text-color, 30%);
$select-border-color-focus: darken($select-border-color, 30%);

$select-label-color-disabled: $palette-turkish-blue;
$select-text-color-disabled: lighten($select-text-color, 20%);
$select-opacity-disabled: .7;

$select-label-color-error: $palette-rosso-corsa;
$select-text-color-error: $palette-rosso-corsa;

$select-placeholder-color: $palette-turkish-blue;
$select-placeholder-opacity: .7;

$select-item-hover-color: $palette-white;
$select-item-hover-background: #0054bc;

$select-triangle-color: $select-placeholder-color;
$select-triangle-size: 4px;
$select-triangle-offset: 5px;

:host.onboarding {
  label {
    position: relative;
    display: block;
    margin-bottom: $block-margin-md;
    font-size: $select-label-font-size;
  }

  .label-text {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color .5s ease;
    font-size: $select-label-font-size;
    color: $select-label-color;
    line-height: $select-line-height;
    font-family: $font-family-bold;;
  }

  .select-container {

  }

  .label-container {
    display: block;
    height: floor($select-label-padding-top + $select-label-padding-bottom + $select-line-height * $select-font-size);
    width: 100%;
    padding: {
      top: $select-label-padding-top;
      bottom: $select-label-padding-bottom;
      right: ($select-triangle-size + ($select-triangle-offset * 2)) + 6;
    }
    margin: 0;
    background-color: $palette-white;
    line-height: $select-line-height;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: $select-triangle-offset;
      display: block;
      width: 0;
      height: 0;
      border-left: $select-triangle-size solid transparent;
      border-right: $select-triangle-size solid transparent;
      border-top: $select-triangle-size solid $select-triangle-color;
      transform: translateY(-50%);
    }
  }

  .label-container-inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
  }

  .label {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    font-size: $select-font-size;
    color: $select-text-color;
    font-family: $font-family-light;
    overflow: hidden;
    text-overflow: ellipsis;

    &.placeholder {
      color: $select-placeholder-color;
      opacity: $select-placeholder-opacity;
    }
  }

  .underline {
    position: relative;
    display: block;
    height: 2px;
    overflow: hidden;

    &:before {
      content: "";
      height: 1px;
      display: block;
      background-color: $select-border-color;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 100%;
      height: 1px;
      background-color: $select-border-color-focus;
      transform: translateX(0%);
      transition: transform .3s ease .2s;
    }
  }

  .underline-inner {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    transform-origin: center 0;
    transition: transform .4s ease, opacity 0s ease .3s;
    opacity: 0;
    background-color: $select-border-color-focus;
  }

  .select {
    font-size: $select-item-total-height;
    background-color: $select-background-color;
    border: 1px solid $select-dropdown-border-color;
  }

  /deep/ {
    .select-item {
      padding: $select-vertical-padding $select-horizontal-padding;
      color: $select-text-color;
      line-height: $select-line-height;
      font-family: $font-family-light;
      font-size: $select-font-size;

      &.active {
        background-color: darken($select-background-color, 10%);
      }

      &:hover {
        color: $select-item-hover-color;
        background-color: $select-item-hover-background;
      }
    }
  }

  /*  */
  .disabled {
    .label-text {
      color: $select-label-color-disabled;
    }

    .label {
      color: $select-text-color-disabled;
      opacity: $select-opacity-disabled;
      cursor: not-allowed;
    }

    .underline:before {
      background: $select-text-color-disabled;
      background: linear-gradient(to right, $select-text-color-disabled 0%, $select-text-color-disabled 33%, #fff 33%, #fff 100%);
      background-size: 3px 100%;
      background-repeat: repeat-x;
      opacity: $select-opacity-disabled;
    }
  }

  /*  */
  .has-error {
    .label-text {
      color: $select-label-color-error;
    }

    .underline-inner,
    .underline:before,
    .underline:after {
      background-color: $select-label-color-error;
    }
  }
}
