<dialog class="modal fade" tabindex="-1" role="dialog" id="ldModalLogin" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-logo">
                <a routerLink="/">
                    <img src="assets/images/landing/gfx/sportid-logo.svg" alt="SportID" width="120" height="40">
                </a>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link">{{ 'home.login.title' | translate }}</a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/register" routerLinkActive="active" class="nav-link active">{{ 'home.register.title' | translate }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <sid-register></sid-register>
                </div>
            </div>
        </div>
    </div>
</dialog>
