@import "./scss/checkbox.component.auth.scss";
@import "./scss/checkbox.component.default.scss";
@import "./scss/checkbox.component.onboarding.scss";
@import "./scss/checkbox.component.search.scss";

@import "./scss/checkbox.component.modifiers.scss";


.checkbox {
  vertical-align: middle;
}

.label-text {
  vertical-align: middle;
}

.tooltip-paragraph {
  display: block;
  margin-bottom: 2px;
}
