<label [class.disabled]="_disabled"
       [class.checked]="_checked"
       [class.no-spacing]="noSpacing"
       [class.has-secondary-label]="labelSecondary"
       (click)="toggleChecked($event)"
>
    <div class="checkbox sico sico-check"></div>

    <span class="label-text">
        {{ label }}
        <ng-content selects="sid-checkbox-label"></ng-content>

        <span *ngIf="tooltip"
              #tooltipRef
              class="tooltip sico sico-question js-deny-value-setting"
              [title]="tooltip"
              (click)="toggleTooltip($event)"
        >
            <span class="tooltip-text" [class.active]="tooltipOpen" [ngClass]="tooltipPosition">
                <span class="tooltip-paragraph" *ngFor="let paragraph of (tooltip | sidParagraphize)">
                    {{ paragraph }}
                </span>
            </span>
        </span>

        <span class="label-secondary" [title]="labelSecondary">{{ labelSecondary }}</span>
    </span>

    <sid-form-control-errors
        *ngIf="formControl"
        [formControlItem]="formControl"
        [alwaysShowErrors]="alwaysShowErrors"
        [requiredLabel]="requiredLabel || label"
    ></sid-form-control-errors>
</label>
