<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <meta name="description" content="SportID">

        <!-- Open graph (Facebook) sharing options -->
        <!-- TODO: Check if correct or can be done better (copied from old version) -->
        <meta property="og:image" content="https://f5bef85cec4c638e3231-250b1cf964c3a77213444ba2f00d4811.ssl.cf3.rackcdn.com/assets/v3.0/og/sportid_logo.png"/> <!-- Use a square image 600px wide, minimum 200px -->
        <meta property="og:image:secure_url" content="https://f5bef85cec4c638e3231-250b1cf964c3a77213444ba2f00d4811.ssl.cf3.rackcdn.com/assets/v3.0/og/sportid_logo.png"/> <!-- Use a square image 600px wide, minimum 200px -->

        <meta property="og:image" content="/assets/images/og-images/SportID_FB_share_1200x630_01.png"/>
        <meta property="og:image:secure_url" content="/assets/images/og-images/SportID_FB_share_1200x630_01.png"/>

        <meta property="og:image" content="/assets/images/og-images/SportID_FB_share_1200x630_02.png"/>
        <meta property="og:image:secure_url" content="/assets/images/og-images/SportID_FB_share_1200x630_02.png"/>

        <meta property="og:image" content="/assets/images/og-images/SportID_FB_share_1200x630_03.png"/>
        <meta property="og:image:secure_url" content="/assets/images/og-images/SportID_FB_share_1200x630_03.png"/>

        <meta property="og:image" content="/assets/images/og-images/SportID_FB_share_VGS.jpg"/>
        <meta property="og:image:secure_url" content="/assets/images/og-images/SportID_FB_share_VGS.jpg"/>

        <meta property="og:url" content="https://sportid.com">
        <meta property="og:description" content="SportID - find and select from the best sports, fitness and wellness services in Baltics">
        <!-- <meta property="og:title" content="SportID" data-ng-attr-content="{{page.title}}"/> -->
        <!-- <meta property="og:description" data-ng-attr-content="{{page.description}}"/> -->

        <!-- Paysera -->
        <meta name="verify-paysera" content="de5afa59542501eafb25533c328af573">

        <link rel="dns-prefetch" href="//www.google-analytics.com">
        <link rel="dns-prefetch" href="//f5bef85cec4c638e3231-250b1cf964c3a77213444ba2f00d4811.ssl.cf3.rackcdn.com">

        <!-- Icons -->
        <!-- TODO: Generate more -->
        <link rel="apple-touch-icon" sizes="152x152" href="assets/icon/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="assets/icon/favicon-192x192.png" sizes="192x192">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="assets/icon/mstile-144x144.png">

        <title>SportID</title>
        <base href="/">

        <!-- Tell Google which version of your site's URL you prefer: (http://example.com or http://www.example.com) -->
        <link rel="canonical" href="">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>
        <div class="landing-loader">
            <img src="/assets/images/logos/sportid-square-bg.svg" alt="" class="logo-loader">
            <div class='circle-loader'><div><div><div><div><div><div></div></div></div></div></div></div></div>
        </div>
    </body>
</html>
