@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@import "../../assets/scss/theme";

/* FONTS
** ========================================================================== */
/* TT Runs Bold
  --------------------------------------------------------------------------- */

@font-face {
  font-family: 'TT Runs';
  src: url('/assets/fonts/TTruns/TT_Runs_Bold.eot');
  src:
      url('/assets/fonts/TTruns/TT_Runs_Bold.woff2') format('woff2'),
      url('/assets/fonts/TTruns/TT_Runs_Bold.woff') format('woff'),
      url('/assets/fonts/TTruns/TT Runs Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Codec Pro News
  --------------------------------------------------------------------------- */

@font-face {
  font-family: 'Codec Pro News';
  src: url('/assets/fonts/codec-pro-news/Codec-Pro-News.eot');
  src:
    url('/assets/fonts/codec-pro-news/Codec-Pro-News.woff2') format('woff2'),
    url('/assets/fonts/codec-pro-news/Codec-Pro-News.woff') format('woff'),
    url('/assets/fonts/codec-pro-news/Codec-Pro-News.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Codec Pro Bold
  --------------------------------------------------------------------------- */

@font-face {
  font-family: 'Codec Pro Bold';
  src: url('/assets/fonts/codec-pro-bold/Codec-Pro-Bold.eot');
  src:
    url('/assets/fonts/codec-pro-bold/Codec-Pro-Bold.woff2') format('woff2'),
    url('/assets/fonts/codec-pro-bold/Codec-Pro-Bold.woff') format('woff'),
    url('/assets/fonts/codec-pro-bold/Codec-Pro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.app {
/* DEFAULT SCOPE
** ========================================================================== */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &html {
    line-height: 1.3 !important;
  }

  &html, body {
    min-height: 100%;
    height: 100%;
  }

  body {
    position: relative;
    min-width: 300px;
    font-family: 'Codec Pro News', Arial, sans-serif;
    color: $palette-black;
    overflow-y: auto;
    background-color: $palette-white;

    @media ($min-width-sm) {
      background-color: #fafafa;
    }
  }

  h1, h2, h3 {
    font-family: 'Codec Pro Bold', Arial, sans-serif;
    color: $palette-black;
    font-style: normal;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 14px;
  }

  h4, h5, h6 {
    font-family: 'Codec Pro Bold', Arial, sans-serif;
    color: $palette-black;
    font-weight: normal;
    font-style: normal;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    color: $palette-black;
    font-family: 'Codec Pro News', Arial, sans-serif;
  }

  strong, b {
    font-family: 'Codec Pro Bold', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  i, em {
    font-family: 'Codec Pro News', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
  }

  strong > i,
  strong > em,
  b > i,
  b > em {
    font-family: 'Codec Pro Bold', sans-serif;
    font-style: italic;
  }
  /* These two blocks bold blocks must be separated for it to work properly */
  i > strong,
  i > b,
  em > strong,
  em > b {
    font-family: 'Codec Pro Bold', sans-serif;
    font-style: italic;
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, b:first-child, strong:first-child, i:first-child, em:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    color: #0054bc;
    transition: color 200ms ease;
  }

  a:hover,
  a:active {
    text-decoration: underline;
    color: #0066e6;
  }

  a:focus {
    outline: none;
    text-decoration: underline;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // blockquote {}

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  table {
    border-collapse: collapse;
  }

  // tr {}

  th {
    font-weight: normal;
  }
  td {
    font-weight: normal;
  }

  hr {
    border: 0;
    border-top: 1px solid $palette-platinum
  }

/* MODULES
** ========================================================================== */
/* Container
  --------------------------------------------------------------------------- */
  .container {
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;

    @media ($min-width-md) {
      width: $container-width-md;
    }
    @media ($min-width-lg) {
      width: $container-width-lg;
    }
    @media ($min-width-xl) {
      width: $container-width-xl;
    }
  }

  .container-navbar {
    height: 100%;
  }
/* Clearfix
  --------------------------------------------------------------------------- */
  .clearfix {
    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
/* Content block spacings (relax)
  --------------------------------------------------------------------------- */
  .relax-less {
    margin-bottom: $block-margin-sm;
  }
  .relax {
    margin-bottom: $block-margin-md;
  }
  .relax-more {
    margin-bottom: $block-margin-lg;
  }
  .force-relax-less {
    margin-bottom: $block-margin-sm !important;
  }
  .force-relax {
    margin-bottom: $block-margin-md !important;
  }
  .force-relax-more {
    margin-bottom: $block-margin-lg !important;
  }
  .no-spacing {
    margin: 0;
  }
  .no-spacing-top {
    margin-top: 0;
  }
  .no-spacing-right {
    margin-right: 0;
  }
  .no-spacing-bottom {
    margin-bottom: 0;
  }
  .no-spacing-left {
    margin-left: 0;
  }
  .space-between + .space-between {
    margin-left: 10px;
  }
/* Text alignment
  --------------------------------------------------------------------------- */

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-top {
    vertical-align: top;
  }

  .text-middle {
    vertical-align: middle;
  }

  .text-bottom {
    vertical-align: bottom;
  }

  .text-center {
    text-align: center;
  }

  .text-force-left {
    text-align: left!important;
  }

  .text-force-right {
    text-align: right!important;
  }

  .text-force-top {
    vertical-align: top!important;
  }

  .text-force-middle {
    vertical-align: middle!important;
  }

  .text-force-bottom {
    vertical-align: bottom!important;
  }

  .text-force-center {
    text-align: center!important;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  @media($min-width-sm) {
    .pull-right-sm {
      float: right;
    }
  }

  @media($max-width-xs) {
    .text-center-xxs {text-align: center;}
  }
  @media($min-width-xs) and ($max-width-sm) {
    .text-center-xs {text-align: center;}
  }
  @media($min-width-sm) and ($max-width-md) {
    .text-center-sm {text-align: center;}
  }
  @media($min-width-md) and ($max-width-lg) {
    .text-center-md {text-align: center;}
  }
  @media($min-width-lg) and ($max-width-xl) {
    .text-center-lg {text-align: center;}
  }
  @media($min-width-xl) {
    .text-center-xl {text-align: center;}
  }
/* Buttons
  --------------------------------------------------------------------------- */
  .button {
    $button-text-color: $palette-white;
    $button-border-color: #0054BC;
    $button-background-color: #0054BC;
    display: inline-block;
    margin: 0;
    padding: 9px 9px;
    border: 1px solid $button-border-color;
    border-radius: 0;
    font-size: 12px;
    color: $button-text-color;
    background-color: $button-background-color;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    transition: border 200ms ease-out, color 200ms ease-out, background-color 200ms ease-out;

    &:focus,
    &:hover {
      outline: none;
      color: $button-text-color;
      border-color: darken($button-border-color, 5%);
      background-color: darken($button-background-color, 5%);
    }

    &:disabled {
      cursor: default !important;
      border-color: darken($palette-gainsboro, 5%) !important;
      background-color: $palette-gainsboro !important;
    }

    &.button-secondary {
      $button-secondary-text-color: #0054BC;
      $button-secondary-border-color: #0054BC;
      $button-secondary-background-color: $palette-white;
      color: $button-secondary-text-color;
      border: 1px solid $button-secondary-border-color;
      background-color: $button-secondary-background-color;

      &:focus,
      &:hover {
        color: darken($button-secondary-text-color, 15%);
        border-color: darken($button-secondary-border-color, 15%);
        background-color: $button-secondary-background-color;
      }
    }

    &.button-tertiary {
      $button-tertiary-text-color: $palette-white;
      $button-tertiary-border-color: $palette-white;
      $button-tertiary-background-color: transparent;
      color: $button-tertiary-text-color;
      border: 1px solid $button-tertiary-border-color;
      background-color: $button-tertiary-background-color;

      &:focus,
      &:hover {
        color: darken($button-tertiary-text-color, 5%);
        border-color: darken($button-tertiary-border-color, 5%);
        background-color: $button-tertiary-background-color;
      }
    }

    &.button-input {
      $button-input-text-color: $palette-outer-space;
      $button-input-border-color: $palette-gainsboro;
      $button-input-background-color: transparent;
      color: $button-input-text-color;
      border: 1px solid $button-input-border-color;
      background-color: $button-input-background-color;

      &:focus,
      &:hover {
        color: darken($button-input-text-color, 5%);
        background-color: $button-input-background-color;
      }
    }

    &.button-simple {
      $button-simple-text-color: #0054bc;
      $button-simple-border-color: transparent;
      $button-simple-background-color: transparent;
      color: $button-simple-text-color;
      border: 1px solid $button-simple-border-color;
      background-color: $button-simple-background-color;
      text-decoration: underline;

      &:focus,
      &:hover {
        color: darken($button-simple-text-color, 15%);
        background-color: $button-simple-background-color;
      }
    }

    &.button-danger {
      $button-danger-text-color: $palette-red;
      $button-danger-border-color: transparent;
      $button-danger-background-color: transparent;
      color: $button-danger-text-color;
      border: 1px solid $button-danger-border-color;
      background-color: $button-danger-background-color;
      text-decoration: underline;

      &:focus,
      &:hover {
        color: darken($button-danger-text-color, 15%);
        background-color: $button-danger-background-color;
      }
    }

    &.button-danger-secondary {
      $button-danger-text-color: $palette-white;
      $button-danger-border-color: $palette-red;
      $button-danger-background-color: $palette-red;
      color: $button-danger-text-color;
      border: 1px solid $button-danger-border-color;
      background-color: $button-danger-background-color;

      &:focus,
      &:hover {
        color: $button-danger-text-color;
        border-color: darken($button-danger-background-color, 15%);
        background-color: darken($button-danger-background-color, 15%);
      }
    }

    &.button-navbar {
      $button-navbar-border-color: $palette-dark-imperial-blue-darker;
      $button-navbar-background-color: $palette-dark-imperial-blue-darker;
      background-color: $button-navbar-border-color;
      border-color: $button-navbar-border-color;
      line-height: 1.1;

      &:focus,
      &:hover {
        background-color: darken($button-navbar-border-color, 5%);
        border-color: darken($button-navbar-background-color, 5%);
      }
    }

    &.button-inferior {
      $button-inferior-text-color: $palette-turkish-blue;
      color: $button-inferior-text-color;

      &:focus,
      &:hover {
        color: darken($button-inferior-text-color, 15%);
      }
    }

    &.button-inferior-secondary {
      $button-inferior-secondary-text-color: $palette-white;
      $button-inferior-secondary-border-color: $palette-turkish-blue;
      $button-inferior-secondary-background-color: $palette-turkish-blue;
      color: $button-inferior-secondary-text-color;
      background-color: $button-inferior-secondary-background-color;
      border: 1px solid $button-inferior-secondary-border-color;

      &:focus,
      &:hover {
        color: $button-inferior-secondary-text-color;
        background-color: darken($button-inferior-secondary-background-color, 15%);
        border-color: darken($button-inferior-secondary-border-color, 15%);
      }
    }

    &.button-decline {
      $button-decline-text-color: $palette-red;
      $button-decline-border-color: $palette-red;
      $button-decline-background-color: $palette-white;
      color: $button-decline-text-color;
      background-color: $button-decline-background-color;
      border: 1px solid $button-decline-border-color;

      &:focus,
      &:hover {
        color: darken($button-decline-text-color, 15%);
        background-color: $button-decline-background-color;
        border-color: darken($button-decline-border-color, 15%);
      }
    }

    &.button-accept {
      $button-accept-text-color: $palette-white;
      $button-accept-border-color: $palette-napier-green;
      $button-accept-background-color: $palette-napier-green;
      color: $button-accept-text-color;
      background-color: $button-accept-background-color;
      border: 1px solid $button-accept-border-color;

      &:focus,
      &:hover {
        color: $button-accept-text-color;
        background-color: darken($button-accept-background-color, 15%);
        border-color: darken($button-accept-border-color, 15%);
      }
    }

    &.button-accept-secondary {
      $button-accept-secondary-text-color: $palette-white;
      $button-accept-secondary-border-color: $palette-harlequin-green;
      $button-accept-secondary-background-color: $palette-harlequin-green;
      color: $button-accept-secondary-text-color;
      background-color: $button-accept-secondary-background-color;
      border: 1px solid $button-accept-secondary-border-color;

      &:focus,
      &:hover {
        color: $button-accept-secondary-text-color;
        background-color: darken($button-accept-secondary-background-color, 5%);
        border-color: darken($button-accept-secondary-border-color, 5%);
      }
    }

    &.button-auth {
      $button-auth-text-color: $palette-auth;
      $button-auth-background-color: $palette-white;
      $button-auth-border-color: $button-auth-background-color;

      color: $button-auth-text-color;
      background-color: $button-auth-background-color;
      border: 1px solid $button-auth-border-color;
      font: {
        size: 21px;
        family: $font-family-bold;
      }

      &:focus,
      &:hover {
        color: $button-auth-text-color;
        background-color: darken($button-auth-background-color, 5%);
        border-color: darken($button-auth-border-color, 5%);
      }
    }

    &.button-auth-cancel {
      $button-auth-cancel-text-color: $palette-white;
      $button-auth-cancel-background-color: transparent;
      $button-auth-cancel-border-color: $button-auth-cancel-background-color;

      color: $button-auth-cancel-text-color;
      background-color: $button-auth-cancel-background-color;
      border: 1px solid $button-auth-cancel-border-color;
      font: {
        size: 14px;
        family: $font-family-light;
      }

      &:focus,
      &:hover {
        color: darken($button-auth-cancel-text-color, 5%);
        background-color: $button-auth-cancel-background-color;
        border-color: $button-auth-cancel-border-color;
      }
    }

    &.button-onboarding {
      $button-onboarding-text-color: $palette-white;
      $button-onboarding-background-color: transparent;
      $button-onboarding-border-color: $button-onboarding-text-color;

      color: $button-onboarding-text-color;
      background-color: $button-onboarding-background-color;
      border: 2px solid $button-onboarding-border-color;
      font-size: 21px;

      &:focus,
      &:hover {
        color: $button-onboarding-text-color;
        background-color: darken($button-onboarding-background-color, 10%);
        border-color: darken($button-onboarding-border-color, 10%);
      }

      &:disabled {
        color: darken($button-onboarding-text-color, 20%);
        background: $button-onboarding-background-color !important;
        border-color: darken($button-onboarding-border-color, 20%);
      }
    }

    &.button-onboarding-cancel {
      $button-onboarding-cancel-text-color: $palette-white;
      $button-onboarding-cancel-background-color: transparent;
      $button-onboarding-cancel-border-color: $button-onboarding-cancel-background-color;

      color: $button-onboarding-cancel-text-color;
      background-color: $button-onboarding-cancel-background-color;
      border: 1px solid $button-onboarding-cancel-border-color;
      font: {
        size: 14px;
        family: $font-family-light;
      }

      &:focus,
      &:hover {
        color: darken($button-onboarding-cancel-text-color, 5%);
        background-color: $button-onboarding-cancel-background-color;
        border-color: $button-onboarding-cancel-border-color;
      }
    }

    &.button-mass-action {
      $button-mass-action-border-color: #0054BC;
      $button-mass-action-background-color: #0054BC;
      position: relative;
      float: left;
      margin-left: 6px;
      background-color: transparent;
      border-color: transparent;

      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: -4px;
        bottom: 5px;
        display: block;
        width: 1px;
        background-color: $palette-white;
      }

      &:first-of-type {
        margin-left: 0;

        &:before {
          content: none;
        }
      }


      &:focus,
      &:hover {
        border-color: darken($button-mass-action-border-color, 5%);
        background-color: darken($button-mass-action-background-color, 5%);
      }
    }

    &.button-small {
      padding: 5px 10px;
      font-size: 12px;
    }

    &.button-large {
      padding: 12px 16px;
      font-size: 14px;
    }

    &.button-long {
      padding-left: 40px;
      padding-right: 40px;
    }

    &.button-no-spacing {
      padding: 0;
    }

    &.button-wrappable {
      white-space: normal;
      text-align: center;
    }

    &.button-bold {
      font-family: $font-family-medium;
    }
  }
/* Link
  --------------------------------------------------------------------------- */
  &:not(.onboarding) .link {
    $link-color: $palette-black;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-bottom: 0 none;
    font-size: 12px;
    color: $link-color;
    line-height: 1.3;
    cursor: pointer;
    transition: color .2s ease;

    &:focus,
    &:hover {
      color: darken($link-color, 15%);
    }
  }

  &.onboarding {
    .link {
      display: inline-block;
      margin: 0;
      padding: 0;
      border-bottom: 0 none;
      line-height: 1.5;
      font-family: $font-family-regular;
      text-decoration: none;
      font-size: 16px;
      color: #0054bc;
      transition: color 200ms ease;

      &:focus,
      &:hover {
        color: darken(#0054bc, 15%);
      }

      &.smol {
        font-size: 12px;
      }
    }
  }
/* Ghost align
  --------------------------------------------------------------------------- */
  .ghost-align {
    white-space: nowrap;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      @include whiteSpaceFix();
      vertical-align: middle;
    }
  }
/* Circled link list
  --------------------------------------------------------------------------- */
  .circled-link-list-item {
    display: inline-block;
    max-width: 120px;
    height: 20px;
    padding: 0 4px;
    margin-right: $margin-sm;
    border: 1px solid $palette-gainsboro;
    border-radius: 11px;
    white-space: nowrap;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    .circled-link-list-text {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
/* Icons
  --------------------------------------------------------------------------- */
  .remove-icon {
    position: relative;
    top: -1px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $palette-red;
    vertical-align: middle;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 2px;
      left: 5px;
      height: 8px;
      width: 2px;
      background-color: $palette-white;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .table-actions-icon {
    cursor: pointer;
    color: #b2b2b2;

    &:hover {
      color: darken(#b2b2b2, 20%);
    }
  }
/* Wrapping
  --------------------------------------------------------------------------- */
  .no-wrap {white-space: nowrap;}
  .normal-wrap {white-space: normal;}
  .force-no-wrap {white-space: nowrap !important;}
  .force-normal-wrap {white-space: normal !important;}
/* Full-height
  --------------------------------------------------------------------------- */
  .full-height {height: 100%;}
/* Full-width
  --------------------------------------------------------------------------- */
  .full-width {width: 100%;}
/* Display types
  --------------------------------------------------------------------------- */
  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .inline {
    display: inline;
  }

  .flex {
    display: flex;
  }

  .force-block {
    display: block !important;
  }

  .force-inline-block {
    display: inline-block !important;
  }

  .force-inline {
    display: inline !important;
  }

  .force-flex {
    display: flex !important;
  }

  .table-row {
    display: table-row;
  }

  .force-table-row {
    display: table-row !important;
  }
/* Positioning
  --------------------------------------------------------------------------- */
  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .z-index-bump {
    position: relative;
    z-index: 1;
  }
/* Alignment
  --------------------------------------------------------------------------- */

.align-items-center {
  align-items: center;
}

/* Close button
  --------------------------------------------------------------------------- */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    opacity: .7;
    cursor: pointer;
    z-index: 3;

    &:hover {
      opacity: 1;
      transition: opacity .2s ease;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 7px;
      height: 17px;
      width: 1px;
      background-color: $palette-red;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
/* Forms styles
  --------------------------------------------------------------------------- */
  .form-seperated {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 2px;
      background-color: $palette-turkish-blue;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }

  .form-header:after,
  .form-footer:after {
    content: "";
    display: table;
    clear: both;
  }

  .form-header {
    padding-bottom: 5px;
  }

  .form-header-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: #0054BC;
    font-size: 22px;
  }

  .form-footer {
    padding-top: 10px;
  }

  .form-end {
    padding-bottom: 85px;
  }

  .form-header-cta,
  .form-footer-cta {
    float: right;
  }

  .form-block {
    margin-bottom: 15px;
  }

  .form-navigation {
    margin-top: 35px;
    margin-bottom: 35px;
  }
/* List inline
  --------------------------------------------------------------------------- */
  .list-inline {
    > li {
      display: inline-block;
      margin-left: $margin-md;
      padding-left: $margin-md;
      border-left: 1px solid $palette-turkish-blue;
      font-family: $font-family-regular;
      font-size: 12px;

      &:first-child {
        margin-left: 0;
        border-left: 0;
        padding-left: 0;
      }
    }
  }
/* Underline
  --------------------------------------------------------------------------- */
  .underlined {
    text-decoration: underline;
  }
/* Deduction
  --------------------------------------------------------------------------- */
  .deduction {
    color: $palette-red;
  }
/* Addition
  --------------------------------------------------------------------------- */
  .addition {
    color: $palette-napier-green;
  }
/* Seperator
  --------------------------------------------------------------------------- */
  .one-third-seperator:before,
  .two-thirds-seperator:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $palette-platinum;
  }
  .one-third-seperator:before {
    left: 33.33333333%;
  }

  .two-thirds-seperator:after {
    left: 66.66666667%;
  }
/* Info label
  --------------------------------------------------------------------------- */
  .info-label {
    display: block;
    margin-bottom: 5px;
    transition: color .5s ease;
    color: #0054bc;
    font-size: 13px;
    line-height: 1.3;
    font-family: $font-family-medium;
  }

  .subtitle {
    padding-top: 3px;
    font-size: 15px;
    color: $palette-black;
    line-height: 1.4;
    font-family: $font-family-medium;
    margin-bottom: 10px;
  }
/* Content title
  --------------------------------------------------------------------------- */
  .content-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #0054BC;
    font-size: 22px;
    font-family: $font-family-light;
  }
/* Allow full width
  --------------------------------------------------------------------------- */
  .allow-full-width {
    width: 1px;
    white-space: nowrap;
  }
/* Padding modifiers
  --------------------------------------------------------------------------- */
  .no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .no-vertical-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
/* Landing loader
  --------------------------------------------------------------------------- */
  .landing-loader {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    .logo-loader {
      width: 280px;
      height: 200px;
      margin: 20px auto;
      display: block;
    }

    @keyframes circleLoader {
      0% { transform: rotate(0deg); }
      50% { transform: rotate(180deg); }
      100% { transform: rotate(360deg); }
    }

    @mixin circleLoaderLm {
      position: relative;
      margin: 0 auto;
      width: 42px;
      height: 42px;
      display: block;
      overflow: hidden;
    }

    @mixin circleLoaderLmd {
      border-radius: 50%;
      padding: 2px;
      border: 1px solid transparent;
      animation: circleLoader linear 3.5s infinite;
    }

    @mixin circleLoaderLd{
      height: 100%;
    }

    .circle-loader-positioner {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      padding-top: 200px;
    }

    .circle-loader {
      @include circleLoaderLm;
    }

    .circle-loader div {
       @include circleLoaderLd;
    }

    .circle-loader, .circle-loader div{
      @include circleLoaderLmd;
      border-top-color: rgba(#8cbf2c, .8);
      border-left-color: rgba(0, 0, 0, .5);
      border-right-color: rgba(0, 0, 0, .5);
    }

    .circle-loader:hover, .circle-loader div:hover {
      animation-play-state: paused;
    }

  }
/* Tooltip
  --------------------------------------------------------------------------- */
  .tooltip {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: $palette-light-gray;
    vertical-align: middle;
    text-align: center;

    &:before {
      display: block;
      margin-left: -1px;
      margin-top: .4em;
      font-size: .6em;
      color: $palette-white;
      vertical-align: top;
    }
  }

  .tooltip-text {
    $background-color: rgba($palette-black, .9);
    $triangle-size: 5px;

    position: absolute;
    display: none;
    max-width: 240px;
    padding: 6px 10px;
    background-color: $background-color;
    border-radius: 3px;
    color: $palette-white;
    font-size: 12px;
    line-height: 1.4;
    z-index: 1;
    transform: translateX(1.2em);
    text-align: left;

    &.active {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
    }

    $arrow-offset-from-icon: 1em;
    &.top {
      $arrow-offset: 20px;
      transform: translateX(-#{$arrow-offset}) translateY(-100%);
      margin-top: -1em - $arrow-offset-from-icon;

      &:before {
        top: 100%;
        left: $arrow-offset + 1px;
        border-left: $triangle-size solid transparent;
        border-right: $triangle-size solid transparent;
        border-top: $triangle-size solid $background-color;
      }
    }

    &.right {
      $arrow-offset: 20px;
      transform: translateY(-#{$arrow-offset});
      margin-left: 1em + $arrow-offset-from-icon;
      margin-top: -1em;

      &:before {
        top: $arrow-offset + 1px;
        right: 100%;
        border-top: $triangle-size solid transparent;
        border-bottom: $triangle-size solid transparent;
        border-right: $triangle-size solid $background-color;
      }
    }

    &.bottom {
      $arrow-offset: 20px;
      transform: translateX(-#{$arrow-offset});
      margin-top: $arrow-offset-from-icon;

      &:before {
        bottom: 100%;
        left: $arrow-offset + 1px;
        border-left: $triangle-size solid transparent;
        border-right: $triangle-size solid transparent;
        border-bottom: $triangle-size solid $background-color;
      }
    }

    &.left {
      $arrow-offset: 20px;
      transform: translateX(-100%) translateY(-#{$arrow-offset});
      margin-top: -1em;
      margin-left: -#{$arrow-offset-from-icon};

      &:before {
        top: $arrow-offset + 1px;
        left: 100%;
        border-top: $triangle-size solid transparent;
        border-bottom: $triangle-size solid transparent;
        border-left: $triangle-size solid $background-color;
      }
    }

    &.warning {
      color: $palette-harvest-gold;
    }
  }

  .tooltip-container {
    white-space: pre-line;
    padding: 10px;
    background-color: $palette-black;
    box-shadow: 0 2px 5px 0 #6c6c6c;
    font-family: $font-family-regular;
    font-size: 12px;
    line-height: 1.7;
  }
/* Toggle
  --------------------------------------------------------------------------- */
  .toggle-label {
    margin-left: 20px;
    vertical-align: middle;
  }

  .toggle-notice {
    margin-left: 20px;
    color: $palette-black;
    font-family: $font-family-regular;
    font-size: 15px;
    line-height: 1.7;
  }

  .toggle-fake {
    margin-left: 76px;
  }
  /* Radio button
  --------------------------------------------------------------------------- */
  .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: $font-family-regular;
  }

  .radio-button {
    margin: 5px;
  }
  /* Titles
  --------------------------------------------------------------------------- */
  .block-title {
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: $font-family-light;
    color: #0054BC;

    &.hr {
      padding-bottom: 10px;
      border-bottom: 1px solid $palette-platinum;
    }
  }
/* Enumerated list
  --------------------------------------------------------------------------- */
  .enumerated-list {

    li {
      $line-height: 1.2em;
      position: relative;
      margin-bottom: 15px;
      padding-left: 35px;
      font-size: 14px;
      line-height: $line-height;

      $circle-size: 1.8em;
      $number-size: 1.3em;
      &:before,
      &:after {
        position: absolute;
        top: -3px; /* figure out this later for dynamic scaling */
        left: 0;
      }

      &:before {
        content: "";
        display: block;
        height: $circle-size;
        width: $circle-size;
        border-radius: 50%;
        background-color: $palette-harlequin-green;
      }

      &:after {
        $sizing: #{$circle-size / $number-size}em;
        content: counter(listCounter);
        display: inline;
        width: $sizing;
        font-size: $number-size;
        color: $palette-white;
        text-align: center;
        line-height: $sizing;
        counter-increment: listCounter;
        font-family: $font-family-bold;
      }

      &:first-of-type {
        counter-reset: listCounter;
      }
    }
  }
/* Overflow
  --------------------------------------------------------------------------- */
  .overflow-y-hidden {
    overflow-y: hidden;

  }

  .overflow-y-hidden-mobile {
    @media($max-width-sm) {
      overflow-y: hidden;
    }
  }

  .overflow-y-hidden-mobile-filters {
    @media($max-width-md) {
      overflow-y: hidden;
    }
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
/* Responsive table
  --------------------------------------------------------------------------- */
  @media($max-width-sm){
    /* Force table to not be like tables anymore */
    table.responsive-table,
    table.responsive-table > tbody,
    table.responsive-table > tbody > tr,
    table.responsive-table > tbody > tr > td {
      display: block;
    }

    table.responsive-table {
      > thead {
        display: none;
      }

      > tbody {
        > tr {
          border: none;
          margin-bottom: 30px;
          border-bottom: 2px solid $palette-gainsboro;

          > td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid $palette-gainsboro;
            position: relative;
            padding: 10px 0 10px 0;

            &:before {
              content: attr(data-title);
              display: block;
              font-family: $font-family-bold;
            }
          }

          > td.no-title {
            font-size: 1.3em;
            font-family: $font-family-bold;
            padding: 10px 0 10px 0;
          }
        }
      }
    }
  }
  /* Table actions row
  --------------------------------------------------------------------------- */
.mass-action-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 39px;
  overflow: hidden;
  background-color: #0054bc;
  color: #fff;

  .mass-action-option {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
  }
}
  /* Unstyled table
    --------------------------------------------------------------------------- */
  .table-unstyled {
    width: 100%;
  }

  .table-unstyled,
  .table-unstyled > thead,
  .table-unstyled > tbody,
  .table-unstyled > tfoot,
  .table-unstyled > thead > tr,
  .table-unstyled > tbody > tr,
  .table-unstyled > tfoot > tr,
  .table-unstyled > thead > tr > th,
  .table-unstyled > tbody > tr > td,
  .table-unstyled > tfoot > tr > td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    text-align: left;
    vertical-align: baseline;
    background: transparent;
  }
/* Cursors
  --------------------------------------------------------------------------- */
  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }
/* Context block
  --------------------------------------------------------------------------- */
  sid-context-block {
    .emphasized {
      font-size: 20px;
      font-family: $font-family-medium;
      color: #0054BC;
    }

    sid-context-block-footer-item:last-child .emphasized {
      @media($max-width-sm) {
        font-size: 28px;
      }

      @media($min-width-md) {
        color: $palette-napier-green;
      }
    }
  }

  .context-block-center {
    width: 100%;
    padding: 10px 0 15px;

    @media($min-width-sm) {
      display: flex;
      padding-bottom: 30px;
    }
  }

  .context-block-center-item {
    position: relative;
    padding: 5px 20px;
    text-align: center;

    &:last-child {
      padding-left: 40px;
    }

    @media($min-width-sm) {
      width: 50%;
      text-align: left;
      float: left;
    }

    @media($min-width-md) {
      width: auto;
      float: none;
    }

    &.context-block-button-wrap {
      align-self: center;

      @media($max-width-sm) {
        width: 100%;
        text-align: center;
      }
    }

    @media($min-width-sm) and ($max-width-md) {
      &:nth-child(even) {
        text-align: right;
      }

      &:nth-child(2n + 1) {
        clear: both;
      }

      &:nth-child(3n),
      &:nth-child(4n) {
        border-top: 1px solid #dbdfe1;
      }
    }
  }

  .context-block-main,
  .context-block-small {
    line-height: 1.3;
  }

  .context-block-main {
    $color: #0054BC;
    display: inline-block;
    margin: {
      top: -0.3em;
      bottom: 4px;
    }
    font-family: $font-family-medium;
    font-size: 20px;
    color: $color;
    transition: color 200ms ease;

    @media($min-width-md) {
      margin-top: 0;
    }

    &:visited,
    &:link {
      position: relative;
      text-decoration: none;

      &:hover {
        color: darken($color, 20%);

        &:after {
          background-color: darken($color, 20%);
        }
      }
    }
  }

  .inactive .context-block-main {
    color: $palette-turkish-blue;
  }

  .context-block-small {
    font-size: 14px;
    color: $palette-black;
  }

  .context-block-info {
    color: $palette-black;
    font-size: 14px;
    line-height: 1.3;
  }

  .context-block-center-item-primary {
    flex-grow: 1;
  }
/* Space
  --------------------------------------------------------------------------- */
  .space-right {
    margin-right: 5px;
  }
/* Listings
  --------------------------------------------------------------------------- */
  .listing {
    display: table;
    width: 100%;
    margin-bottom: $block-margin-md;
  }

  .listing-item {
    display: table-row;

  }

  .listing-minimal {
    min-width: 1px;
  }

  .listing-item-child {
    display: table-cell;
    border-bottom: 1px solid $palette-gainsboro;
    padding: 7px 8px;
    color: $palette-black;
    font-size: 15px;
    line-height: 1.3;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.listing-item-info {
      font-size: 12px;
      color: $palette-turkish-blue;
    }
  }

  .listing-item-no-border .listing-item-child,
  .listing-item-child.listing-item-no-border {
    border: 0 none;
  }

  .listing-border-striped .listing-item-child {
    border-bottom-style: dashed;
  }

  .listing-item-child-spaceless {
    padding: 0;
  }

  .listing-item-child-tiny-offset {
    padding: {
      top: 5px;
      bottom: 5px;
    }
  }

  .listing-fill-remaining {
    width: 100%;
  }
/* Font hack
  --------------------------------------------------------------------------- */
  .no-text {
    font-size: 0;
  }
/* Label like text
  --------------------------------------------------------------------------- */
  .label-text {
    display: block;
    cursor: pointer;
    transition: color .5s ease;
    color: #0054BC;
    font-size: 12px;
    line-height: 1.3;
  }

  &.onboarding .label-text {
    margin-bottom: 5px;
    font-size: 13px;
    color: #0054bc;
    font-family: $font-family-bold;;
  }
/* Business package
  --------------------------------------------------------------------------- */
  .package-transparent {
    color: transparent;
  }

  .bronze {
    color: #b94f1a;
  }

  .silver {
    color: silver;
  }

  .gold {
    color: #f5d129;
  }

  .package-decoration {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

/* Droparea
  --------------------------------------------------------------------------- */
  .droparea-container {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $palette-white;
    }

    &.uploading {
      &:before,
      .droparea {
        display: none;
      }
    }
  }

  .droparea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px dashed #0054bc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  .droparea-round {
    height: 130px;
    width:130px;
    background: #f8f8f8;
    border: 2px dashed #b2b2b2;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background: no-repeat center;
    background-size: cover;

    &.file-over {
      opacity: 0.3;
    }

    &.no-border {
      border: none;
    }
  }

  .droparea-container:not(.no-bg) .droparea {
    background-color: $palette-ghost-white;
  }

  .droparea-label {
    $color: #0054bc;
    color: $color;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: $font-family-light;
    border-color: $color;
  }

  .droparea-round-label {
    color: #b8b8b8;
    font-size: 13px;
  }

  .droparea-container.small .droparea-label {
    font-size: 20px;
  }

  .droparea-linklike {
    border: {
      bottom: {
        style: solid;
        width: 1px;
      }
    }
  }

  .droparea-informative-label {
    font-size: 14px;
    color: $palette-turkish-blue;
    margin: 0;
  }

  @keyframes backgroundPositionAnimate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -56px 0%;
    }
  }

  .droparea-file-uploading {
    border: {
      bottom: {
        style: solid;
        width: 1px;
        color: #dadada;
      }
    }
    padding: {
      top: 15px;
      bottom: 25px;
    }
    text-align: center;
  }

  .droparea-file-uploading-title {
    font-size: 20px;
    font-family: $font-family-light;
    color: #0054bc;
    margin-bottom: 3px;
  }

  .droparea-file-uploading-informative-label {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .droparea-upload-indicator {
    display: block;
    height: 15px;
    margin: auto auto 40px;
    border: 1px solid $palette-isabelline;
    border-radius: 8px;
    background: repeating-linear-gradient(135deg, $palette-white, $palette-white 20px, #45a700 20px, #45a700 40px);
    background-size: 56px 100%;
    animation: backgroundPositionAnimate 0.7s linear infinite;
  }


/* TABLE
** ========================================================================== */
  .table {
    display: table;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }

  .table > thead {
    display: table-header-group;
    border-bottom: 2px solid $palette-gainsboro;
  }

  .table > thead > tr {
    border-top: 1px solid $palette-gainsboro;
  }

  .table > tbody,
  .table-body {
    display: table-row-group;

    > tr:nth-child(even),
    > .table-row:nth-child(even) {
      background-color: $palette-ghost-white;
    }
  }

  .table > tbody > tr {
    display: table-row;
    border-bottom: 1px solid $palette-gainsboro;
    background-color: $palette-white;
  }

  .table > thead > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    display: table-cell;
    padding: 12px 5px;
    text-align: left;
    vertical-align: top;
  }

  .table > thead > tr > th,
  .table > tfoot > tr > td {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 1.3;
    color: #0054BC;
  }

  .table > tbody > tr > td {
    font-size: 14px;
    line-height: 1.3;
  }

  .table-cell {
    display: table-cell;
  }

  .table-x-scroll {
    display: block;
    overflow-x: auto;
  }

  .table-container-for-sticky-header {
    max-height: calc(100vh - 152px); //
    overflow: auto;
  }
/* Table header select
  --------------------------------------------------------------------------- */
  .table-header-select {
    display: block;
    margin-bottom: 15px;

    @media($min-width-sm) {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .table-header-select-label {
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
  }

  .table-header-select-fix-left-space {
    margin-left: -5px;
  }
/* Table header mass actions checkbox
  --------------------------------------------------------------------------- */
  .table-header-actions-content-checkbox {
    position: absolute;
    top: 10px;
    left: 5px;
  }
/* Spinner overlay
  --------------------------------------------------------------------------- */
  .loading-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 101;
  }
  /* Form title
  --------------------------------------------------------------------------- */
  .form-section-title {
    margin: 0 0 15px;
    font-size: 12px;
    color: $palette-turkish-blue;
    text-transform: uppercase;
    line-height: 1.3;
  }
/* Placeholder
  --------------------------------------------------------------------------- */
  @keyframes gradientAnimation {
    0% {
      background-position: 0 50%;
    }
    50%{
      background-position:100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .placeholder-circle,
  .placeholder-high,
  .placeholder-full,
  .placeholder-long,
  .placeholder-short {
    display: block;
    margin-bottom: 15px;
    height: 10px;
    border-radius: 5px;
    line-height: 1;

    background: linear-gradient(to left, rgba($palette-gainsboro, .5), rgba($palette-turkish-blue, .5));
    background-size: 400% 400%;
    animation: gradientAnimation 4s ease infinite;

    &.no-animate {
      animation: none;
      background: rgba($palette-gainsboro, .7);
      background-size: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .placeholder-full {
    width: 100%;
  }

  .placeholder-long {
    width: 80%;
  }

  .placeholder-short {
    width: 40%;
  }

  .placeholder-medium-high {
    border-radius: 3px;
    height: 25px;
  }

  .placeholder-high {
    border-radius: 3px;
    height: 35px;
  }

  .placeholder-circle {
    border-radius: 50%;
    width: 10px;

    &.placeholder-medium-high {
      width: 35px;
    }

    &.placeholder-high {
      width: 35px;
    }
  }
/* GRID CLASSES
** ========================================================================== */
  $column-padding-half: floor($column-padding / 2);
  $column-padding-doubled: floor($column-padding * 2);

  .row,
  .row-thin,
  .row-fat {
    display: block;

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .row {
    margin: {
      right: -#{$column-padding};
      left: -#{$column-padding};
    }
  }

  .row-thin {
    margin: {
      right: -#{$column-padding-half};
      left: -#{$column-padding-half};
    }
  }

  .row-fat {
    margin: {
      right: -#{$column-padding-doubled};
      left: -#{$column-padding-doubled};
    }
  }

  $grid-names: "
    .grid-xxs-1, .grid-xxs-2, .grid-xxs-3, .grid-xxs-4, .grid-xxs-5, .grid-xxs-6, .grid-xxs-7, .grid-xxs-8, .grid-xxs-9, .grid-xxs-10, .grid-xxs-11, .grid-xxs-12,
    .grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5, .grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12,
    .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12,
    .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12,
    .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12
  ";

  $grid-names: (
  ".grid-xxs-1", ".grid-xxs-2", ".grid-xxs-3", ".grid-xxs-4", ".grid-xxs-5", ".grid-xxs-6", ".grid-xxs-7", ".grid-xxs-8", ".grid-xxs-9", ".grid-xxs-10", ".grid-xxs-11", ".grid-xxs-12",
  ".grid-xs-1", ".grid-xs-2", ".grid-xs-3", ".grid-xs-4", ".grid-xs-5", ".grid-xs-6", ".grid-xs-7", ".grid-xs-8", ".grid-xs-9", ".grid-xs-10", ".grid-xs-11", ".grid-xs-12",
  ".grid-sm-1", ".grid-sm-2", ".grid-sm-3", ".grid-sm-4", ".grid-sm-5", ".grid-sm-6", ".grid-sm-7", ".grid-sm-8", ".grid-sm-9", ".grid-sm-10", ".grid-sm-11", ".grid-sm-12",
  ".grid-md-1", ".grid-md-2", ".grid-md-3", ".grid-md-4", ".grid-md-5", ".grid-md-6", ".grid-md-7", ".grid-md-8", ".grid-md-9", ".grid-md-10", ".grid-md-11", ".grid-md-12",
  ".grid-lg-1", ".grid-lg-2", ".grid-lg-3", ".grid-lg-4", ".grid-lg-5", ".grid-lg-6", ".grid-lg-7", ".grid-lg-8", ".grid-lg-9", ".grid-lg-10", ".grid-lg-11", ".grid-lg-12"
  );

  @each $name in $grid-names {
    #{$name} {
      position: relative;
      min-height: 1px;
    }

    .row > #{$name} {
      padding: {
        right: $column-padding;
        left: $column-padding;
      }
    }

    .row-thin > #{$name} {
      padding: {
        right: $column-padding-half;
        left: $column-padding-half;
      }
    }

    .row-fat > #{$name} {
      padding: {
        right: $column-padding-doubled;
        left: $column-padding-doubled;
      }
    }
  }


  .grid-xxs-1, .grid-xxs-2, .grid-xxs-3, .grid-xxs-4, .grid-xxs-5, .grid-xxs-6, .grid-xxs-7, .grid-xxs-8, .grid-xxs-9, .grid-xxs-10, .grid-xxs-11, .grid-xxs-12 {
    float: left;
  }

  .grid-xxs-1 {width: ((1 / 12) * 100%); }
  .grid-xxs-2 {width: ((2 / 12) * 100%); }
  .grid-xxs-3 {width: ((3 / 12) * 100%); }
  .grid-xxs-4 {width: ((4 / 12) * 100%); }
  .grid-xxs-5 {width: ((5 / 12) * 100%); }
  .grid-xxs-6 {width: ((6 / 12) * 100%); }
  .grid-xxs-7 {width: ((7 / 12) * 100%); }
  .grid-xxs-8 {width: ((8 / 12) * 100%); }
  .grid-xxs-9 {width: ((9 / 12) * 100%); }
  .grid-xxs-10 {width: ((10 / 12) * 100%); }
  .grid-xxs-11 {width: ((11 / 12) * 100%); }
  .grid-xxs-12 {width: ((12 / 12) * 100%); }

  @media($min-width-xs) {
    .grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5, .grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12 {
      float: left;
    }
    .grid-xs-1 {width: ((1 / 12) * 100%); }
    .grid-xs-2 {width: ((2 / 12) * 100%); }
    .grid-xs-3 {width: ((3 / 12) * 100%); }
    .grid-xs-4 {width: ((4 / 12) * 100%); }
    .grid-xs-5 {width: ((5 / 12) * 100%); }
    .grid-xs-6 {width: ((6 / 12) * 100%); }
    .grid-xs-7 {width: ((7 / 12) * 100%); }
    .grid-xs-8 {width: ((8 / 12) * 100%); }
    .grid-xs-9 {width: ((9 / 12) * 100%); }
    .grid-xs-10 {width: ((10 / 12) * 100%); }
    .grid-xs-11 {width: ((11 / 12) * 100%); }
    .grid-xs-12 {width: ((12 / 12) * 100%); }
  }

  @media($min-width-sm) {
    .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12 {
      float: left;
    }
    .grid-sm-1 {width: ((1 / 12) * 100%); }
    .grid-sm-2 {width: ((2 / 12) * 100%); }
    .grid-sm-3 {width: ((3 / 12) * 100%); }
    .grid-sm-4 {width: ((4 / 12) * 100%); }
    .grid-sm-5 {width: ((5 / 12) * 100%); }
    .grid-sm-6 {width: ((6 / 12) * 100%); }
    .grid-sm-7 {width: ((7 / 12) * 100%); }
    .grid-sm-8 {width: ((8 / 12) * 100%); }
    .grid-sm-9 {width: ((9 / 12) * 100%); }
    .grid-sm-10 {width: ((10 / 12) * 100%); }
    .grid-sm-11 {width: ((11 / 12) * 100%); }
    .grid-sm-12 {width: ((12 / 12) * 100%); }

    grid-sm-pull-1, .grid-sm-pull-2, .grid-sm-pull-3, .grid-sm-pull-4, .grid-sm-pull-5, .grid-sm-pull-6, .grid-sm-pull-7, .grid-sm-pull-8, .grid-sm-pull-9, .grid-sm-pull-10, .grid-sm-pull-11, .grid-sm-pull-12,
    .grid-sm-push-1, .grid-sm-push-2, .grid-sm-push-3, .grid-sm-push-4, .grid-sm-push-5, .grid-sm-push-6, .grid-sm-push-7, .grid-sm-push-8, .grid-sm-push-9, .grid-sm-push-10, .grid-sm-push-11, .grid-sm-push-12 {
      position: relative;
    }

    .grid-sm-pull-1 {left: -((1 / 12) * 100%); }
    .grid-sm-pull-2 {left: -((2 / 12) * 100%); }
    .grid-sm-pull-3 {left: -((3 / 12) * 100%); }
    .grid-sm-pull-4 {left: -((4 / 12) * 100%); }
    .grid-sm-pull-5 {left: -((5 / 12) * 100%); }
    .grid-sm-pull-6 {left: -((6 / 12) * 100%); }
    .grid-sm-pull-7 {left: -((7 / 12) * 100%); }
    .grid-sm-pull-8 {left: -((8 / 12) * 100%); }
    .grid-sm-pull-9 {left: -((9 / 12) * 100%); }
    .grid-sm-pull-10 {left: -((10 / 12) * 100%); }
    .grid-sm-pull-11 {left: -((11 / 12) * 100%); }
    .grid-sm-pull-12 {left: -((12 / 12) * 100%); }

    .grid-sm-push-1 {left: ((1 / 12) * 100%); }
    .grid-sm-push-2 {left: ((2 / 12) * 100%); }
    .grid-sm-push-3 {left: ((3 / 12) * 100%); }
    .grid-sm-push-4 {left: ((4 / 12) * 100%); }
    .grid-sm-push-5 {left: ((5 / 12) * 100%); }
    .grid-sm-push-6 {left: ((6 / 12) * 100%); }
    .grid-sm-push-7 {left: ((7 / 12) * 100%); }
    .grid-sm-push-8 {left: ((8 / 12) * 100%); }
    .grid-sm-push-9 {left: ((9 / 12) * 100%); }
    .grid-sm-push-10 {left: ((10 / 12) * 100%); }
    .grid-sm-push-11 {left: ((11 / 12) * 100%); }
    .grid-sm-push-12 {left: ((12 / 12) * 100%); }
  }

  @media($min-width-md) {
    .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12 {
      float: left;
    }
    .grid-md-1 {width: ((1 / 12) * 100%); }
    .grid-md-2 {width: ((2 / 12) * 100%); }
    .grid-md-3 {width: ((3 / 12) * 100%); }
    .grid-md-4 {width: ((4 / 12) * 100%); }
    .grid-md-5 {width: ((5 / 12) * 100%); }
    .grid-md-6 {width: ((6 / 12) * 100%); }
    .grid-md-7 {width: ((7 / 12) * 100%); }
    .grid-md-8 {width: ((8 / 12) * 100%); }
    .grid-md-9 {width: ((9 / 12) * 100%); }
    .grid-md-10 {width: ((10 / 12) * 100%); }
    .grid-md-11 {width: ((11 / 12) * 100%); }
    .grid-md-12 {width: ((12 / 12) * 100%); }
  }

  @media($min-width-lg) {
    .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 {
      float: left;
    }
    .grid-lg-1 {width: ((1 / 12) * 100%); }
    .grid-lg-2 {width: ((2 / 12) * 100%); }
    .grid-lg-3 {width: ((3 / 12) * 100%); }
    .grid-lg-4 {width: ((4 / 12) * 100%); }
    .grid-lg-5 {width: ((5 / 12) * 100%); }
    .grid-lg-6 {width: ((6 / 12) * 100%); }
    .grid-lg-7 {width: ((7 / 12) * 100%); }
    .grid-lg-8 {width: ((8 / 12) * 100%); }
    .grid-lg-9 {width: ((9 / 12) * 100%); }
    .grid-lg-10 {width: ((10 / 12) * 100%); }
    .grid-lg-11 {width: ((11 / 12) * 100%); }
    .grid-lg-12 {width: ((12 / 12) * 100%); }

    .grid-lg-pull-1, .grid-lg-pull-2, .grid-lg-pull-3, .grid-lg-pull-4, .grid-lg-pull-5, .grid-lg-pull-6, .grid-lg-pull-7, .grid-lg-pull-8, .grid-lg-pull-9, .grid-lg-pull-10, .grid-lg-pull-11, .grid-lg-pull-12,
    .grid-lg-push-1, .grid-lg-push-2, .grid-lg-push-3, .grid-lg-push-4, .grid-lg-push-5, .grid-lg-push-6, .grid-lg-push-7, .grid-lg-push-8, .grid-lg-push-9, .grid-lg-push-10, .grid-lg-push-11, .grid-lg-push-12 {
      position: relative;
    }

    .grid-lg-pull-1 {left: -((1 / 12) * 100%); }
    .grid-lg-pull-2 {left: -((2 / 12) * 100%); }
    .grid-lg-pull-3 {left: -((3 / 12) * 100%); }
    .grid-lg-pull-4 {left: -((4 / 12) * 100%); }
    .grid-lg-pull-5 {left: -((5 / 12) * 100%); }
    .grid-lg-pull-6 {left: -((6 / 12) * 100%); }
    .grid-lg-pull-7 {left: -((7 / 12) * 100%); }
    .grid-lg-pull-8 {left: -((8 / 12) * 100%); }
    .grid-lg-pull-9 {left: -((9 / 12) * 100%); }
    .grid-lg-pull-10 {left: -((10 / 12) * 100%); }
    .grid-lg-pull-11 {left: -((11 / 12) * 100%); }
    .grid-lg-pull-12 {left: -((12 / 12) * 100%); }

    .grid-lg-push-1 {left: ((1 / 12) * 100%); }
    .grid-lg-push-2 {left: ((2 / 12) * 100%); }
    .grid-lg-push-3 {left: ((3 / 12) * 100%); }
    .grid-lg-push-4 {left: ((4 / 12) * 100%); }
    .grid-lg-push-5 {left: ((5 / 12) * 100%); }
    .grid-lg-push-6 {left: ((6 / 12) * 100%); }
    .grid-lg-push-7 {left: ((7 / 12) * 100%); }
    .grid-lg-push-8 {left: ((8 / 12) * 100%); }
    .grid-lg-push-9 {left: ((9 / 12) * 100%); }
    .grid-lg-push-10 {left: ((10 / 12) * 100%); }
    .grid-lg-push-11 {left: ((11 / 12) * 100%); }
    .grid-lg-push-12 {left: ((12 / 12) * 100%); }
  }

  .hidden {display: none!important; }

  @media($max-width-xs) {
    .hidden-xxs {display: none!important; }
  }
  @media($min-width-xs) and ($max-width-sm) {
    .hidden-xs {display: none!important; }
  }
  @media($min-width-sm) and ($max-width-md) {
    .hidden-sm {display: none!important; }
  }
  @media($min-width-md) and ($max-width-lg) {
    .hidden-md {display: none!important; }
  }
  @media($min-width-lg) and ($max-width-xl) {
    .hidden-lg {display: none!important; }
  }
  @media($min-width-xl) {
    .hidden-xl {display: none!important; }
  }


  .visible-xxs, .visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xl,
  .visible-xxs-inline, .visible-xs-inline, .visible-sm-inline, .visible-md-inline, .visible-lg-inline, .visible-xl-inline {
    display: none !important;
  }
  @media($max-width-xs) {
    .visible-xxs {display: block !important; }
    .visible-xxs-inline {display: inline-block !important; }
  }
  @media($min-width-xs) and ($max-width-sm) {
    .visible-xs {display: block !important; }
    .visible-xs-inline {display: inline-block !important; }
  }
  @media($min-width-sm) and ($max-width-md) {
    .visible-sm {display: block !important; }
    .visible-sm-inline {display: inline-block !important; }
  }
  @media($min-width-md) and ($max-width-lg) {
    .visible-md {display: block !important; }
    .visible-md-inline {display: inline-block !important; }
  }
  @media($min-width-lg) and ($max-width-xl) {
    .visible-lg {display: block !important; }
    .visible-lg-inline {display: inline-block !important; }
  }
  @media($min-width-xl) {
    .visible-xl {display: block !important; }
    .visible-xl-inline {display: inline-block !important; }
  }

/* TABLE WITH DROPDOWN
** ========================================================================== */
  .table.relative-content > tbody > tr {
    background-color: $palette-white;
    transition: background-color 200ms ease;

    &.selected {
      border-top: 1px solid $palette-gainsboro;
      border-bottom: 0 none;
      background-color: $palette-bubbles !important;
      transition: background-color .2s ease;

      > td {
        color: #0054BC;
      }

    }

    > td {
      transition: color 200ms ease;
    }

    &.inactive-compensation-rule {
      > td.compensation-rule {
        color: $palette-turkish-blue;
      }
    }

    &.filters {
      > td {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }

    &:nth-child(2n + 2) {
      cursor: pointer;

      &:hover {
        background-color: $palette-isabelline;
      }
    }

    &.striped,
    &:nth-child(4n + 4) {
      background-color: $palette-ghost-white;

      &.selected {
        background-color: $palette-bubbles !important;
      }
    }
  }

  .table.relative-content {
    position: relative;

    .relative-content {
      position: relative;
    }

    .table-header-actions {
      margin: 0;
      border: 0;
      padding: 0;

      .table-header-actions-content{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        $checkbox-width: 22px;
        padding: 10px 5px 10px 2 * 5px + $checkbox-width;
        background-color: #0054BC;
        z-index: 1;
      }

      &.header-hidden {
        .table-header-actions-content {
          display: none;
        }
      }

      > td,
      > th {
        margin: 0;
        border: 0;
        padding: 0;
        color: $palette-white;
      }
    }

    .absolute-content {
      display: block;
      background-color: #fff;
      border: 0 none;
      opacity: 0;
      z-index: 1;

      & > td {
        display: none;
        padding: 0 !important;
      }
    }

    .absolute-content.active {
      display: table-row;
      height: auto;
      opacity: 1;
      transition: opacity .2s ease;
      border-bottom: 2px solid $palette-gainsboro;

      & > td {
        display: table-cell;
      }
    }

    .absolute-content-inner {
      position: relative;
      padding: 15px 10px;
    }
  }
}

/* ==========================================================================
** APP END GLOBAL OVERRIDE BEGIN
** ========================================================================== */

/* NGX-PERFECT-SCROLLBAR OVERRIDES
** ========================================================================== */
body {
  .ps.ps--theme_default,
  .ps.ps--theme_default.ps--in-scrolling {
    $rail-color: $palette-gainsboro;
    $scrollbar-color: $palette-outer-space;
    $size: 5px;

    >.ps__scrollbar-x-rail,
    >.ps__scrollbar-y-rail {
      background-color: $rail-color;
      opacity: .7;
      border-radius: ceil($size / 2);

      >.ps__scrollbar-x,
      >.ps__scrollbar-y {
        background-color: $scrollbar-color;
        border-radius: ceil($size / 2);
      }
    }

    >.ps__scrollbar-x-rail {
      height: $size;

      >.ps__scrollbar-x {
        height: $size;
        bottom: 0;
      }
    }

    >.ps__scrollbar-y-rail {
      width: $size;

      >.ps__scrollbar-y {
        width: $size;
        right: 0;
      }
    }

    &:hover {
      >.ps__scrollbar-x-rail,
      >.ps__scrollbar-y-rail {
        opacity: 1;
        background-color: $rail-color;
        border-radius: ceil($size / 2);

        >.ps__scrollbar-x,
        >.ps__scrollbar-y {
          background-color: $scrollbar-color;
          border-radius: ceil($size / 2);
        }
      }

      >.ps__scrollbar-x-rail {
        height: $size;

        >.ps__scrollbar-x {
          height: $size;
        }
      }

      >.ps__scrollbar-y-rail {
        width: $size;

        >.ps__scrollbar-y {
          width: $size;
        }
      }
    }
  }
}

/* FRESHDESK LIVE CHAT OVERRIDES
** ========================================================================== */

@media only screen and (min-width: 720px) {
  body {
    #lc_chat_layout {

      #lc_chat_header, #lc_chat_container, #lc_chat_title {
        font-family: $font-family-regular !important;
        font-weight: normal !important;
      }

      &.lc-collapsed {
        max-height: 26px;
      }

      #lc_chat_header {
        padding: 2px 8px;
        height: 26px;
        line-height: 22px;
        font-size: 14px;
        border-radius: 0;
        border: 0;
      }
    }
  }
}

/* FRESHDESK LIVE CHAT OVERRIDES
** ========================================================================== */
$languages: (
  "et-EE": "et-ee",
  "en-US": "en-us",
  "ru-RU": "ru-ru",
  "lt-LT": "lt-lt",
  "lv-LV": "lv-lv",
  "nl-NL": "nl-nl",
  "de-DE": "de-de",
);

@each $key, $lang in $languages {
  .#{$lang}-only {
    display: none !important;
  }

  [lang=#{$key}] .#{$lang}-only {
    display: inherit !important;
  }
  [lang=#{$key}] .#{$lang}-hidden {
    display: none !important;
  }
}
